#{extends 'main.html' /}
<!-- Ingen ramme om biblDesc, som vises i separat vindue
     KK 2013.12.04 -->

<script>
    
    $(function() {
        $(".toc").click(function() {
            var id = $(this).attr("href").substring(1);
            var scrollTo = $("[id='" + id + "']");
            $.scrollTo(scrollTo, {duration:'slow', offsetTop : '50'});
            return false;
        });

    });
    
</script>    

<div id="main">

	<div class="container" id="underside_innhold">

            <div id="kolonne1_bred">

                <div id="liste" class="biblio">

                    ${asset.html.raw()}                

		</div>

            </div>

	</div>
</div>

