#{extends 'main.html' /}
#{ header /}

<script>
    
    $(function() {
        $(".plusBook").each(function(index) {
            if ($(this).next().text() == "") {
                $(this).hide();
            }
        });
    });
    
</script>    
<div id="main">

	<div class="container" id="underside_innhold">

		<div id="submenu">
                    <div id="breadcrumbs"><a href="#" >Forside</a> &raquo; <a href="#">Registre</a> &raquo;  Bibelregister</div>
                    <a href="../vejledning/bible_vej">Vejledning til bibelregister</a>
		</div>


<div class="kolonne1">

		<ul id="kolonne1_meny">

			<li class="header">Registre</li>
                                
                                <li><a href="../reg">Registranten</a></li>				
				<li><a href="../myter">Mytologisk register</a></li>
				<li><a href="../personer">Personregister</a></li>
				<li class=""><a href="../steder">Stedregister</a></li>
                                <li class=""><a class="selected" href="../bibel">Bibelregister</a></li>
                                <li class="last"><a class="" href="../bookinvent">Bogfortegnelse 1805</a></li>


		</ul>

	</div>

	<div id="kolonne1_bred">

            <div id="liste">

                ${asset.html.raw()}                

		</div>

	</div>

	</div>
</div>

