#{extends 'main.html' /}
#{set subPageTitle:'Bogfortegnelse 1805' /}
#{ header /}


<div id="main">

	<div class="container" id="underside_innhold">

		<div id="submenu">
		<div id="breadcrumbs"><a href="#" >Forside</a> &raquo; Registre &raquo;  Bogfortegnelse 1805</div>
                <a id="person_vejledning" href="../vejledning/1805_vej">Vejledning til Bogfortegnelse 1839</a>
		</div>
            
            <div class="kolonne1">

		<ul id="kolonne1_meny">
			<li class="header">Registre</li>
			<li><a href="../reg">Registranten</a></li>
			<li><a href="../myter">Mytologisk register</a></li>
			<li><a href="../personer">Personregister</a></li>
			<li><a href="../steder">Stedregister</a></li>
			<li><a href="/salmer">Salmeregister</a></li>
			<li><a href="../bibel">Bibelstedsregister</a></li>
			<li><a href="../bookinvent">Bogfortegnelse 1805</a></li>
			<li class="last"><a class="" href="../bookinvent1839">Bogfortegnelse 1839</a></li>
		</ul>
            
            </div>

	<div id="kolonne1_bred">

		<h1>Bogfortegnelse 1805 HAT</h1>
		<div id="bookInventory">

                ${asset.html.raw()}                

		</div>

	</div>

	</div>
</div>

