#{extends 'main.html' /}
#{ header /}


<div id="main">

	<div class="container" id="underside_innhold">

		<div id="submenu">
		<div id="breadcrumbs"><a href="#">Forside</a> &raquo; <a href="#">Register</a> &raquo;  Personregister</div>

		</div>


<div class="kolonne1">

		<ul id="kolonne1_meny">

			<li class="header">Register</li>

				<li><a href="../myter">Mytologisk register</a></li>
				<li><a class="selected" href="../personer">Personregister</a></li>
				<li class="last"><a href="../steder">Stedsregister</a></li>

		<ul>

	</div>

	<div id="kolonne1_bred">

		<h1>Personregister</h1>
		<p>En oversikt over sentrale personer fra Grundtvigs værker.</p>

		<div id="innholdsfortegnelse">
			<a class="selected" href="#">Vis alle</a>
			<a href="#">a</a>
			<a href="#">b</a>
			<a href="#">c</a>
			<a href="#">d</a>
			<a href="#">e</a>
			<a href="#">f</a>
			<a href="#">g</a>
			<a href="#">h</a>
			<a href="#">i</a>
			<a href="#">j</a>
			<a href="#">k</a>
			<a href="#">l</a>
			<a href="#">m</a>
			<a href="#">n</a>
			<a href="#">o</a>
			<a href="#">p</a>
			<a href="#">q</a>
			<a href="#">r</a>
			<a href="#">s</a>
			<a href="#">t</a>
			<a href="#">u</a>
			<a href="#">v</a>
			<a href="#">w</a>
			<a href="#">x</a>
			<a href="#">y</a>
			<a href="#">z</a>
			<a href="#">æ</a>
			<a href="#">ø</a>
			<a href="#">å</a>
		</div>

		<div id="liste">

                ${asset.html.raw()}

                <br>
                <br>
                <h4>Slik skal listen se ut etter hvert:</h4>
			<table>


				<tr class="no_top_border">
					<td class="navn"><h4>A</h4></td>
					<td></td>
				</tr>


				<tr>
					<td class="navn"><a href="#">Arnesen, Jonas</a></td>
					<td class="definisjon">Dette er en beskrivelse av Jonas og hans tilknytning til Grundtvigs værker.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Akersen, Petter</a></td>
					<td class="definisjon">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Aashus, Sindre</a></td>
					<td class="definisjon">Dette er en kort beskrivelse</td>
				</tr>

				<tr class="no_top_border">
					<td class="navn"><h4>B</h4></td>
					<td></td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Arnesen, Jonas</a></td>
					<td class="definisjon">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Brakman, Petter</a></td>
					<td class="definisjon">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Arnesen, Jonas</a></td>
					<td class="definisjon">Dette er en beskrivelse av Jonas og hans tilknytning til Grundtvigs værker.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Brakman, Petter</a></td>
					<td class="definisjon">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
				</tr>

				<tr class="no_top_border">
					<td class="navn"><h4>C</h4></td>
					<td></td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Dersem, Sindre</a></td>
					<td class="definisjon">Dette er en kort beskrivelse</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Arnesen, Jonas</a></td>
					<td class="definisjon">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Brakman, Petter</a></td>
					<td class="definisjon">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Arnesen, Jonas</a></td>
					<td class="definisjon">Dette er en beskrivelse av Jonas og hans tilknytning til Grundtvigs værker.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Brakman, Petter</a></td>
					<td class="definisjon">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Dersem, Sindre</a></td>
					<td class="definisjon">Dette er en kort beskrivelse</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Arnesen, Jonas</a></td>
					<td class="definisjon">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Brakman, Petter</a></td>
					<td class="definisjon">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Arnesen, Jonas</a></td>
					<td class="definisjon">Dette er en beskrivelse av Jonas og hans tilknytning til Grundtvigs værker.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Brakman, Petter</a></td>
					<td class="definisjon">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Dersem, Sindre</a></td>
					<td class="definisjon">Dette er en kort beskrivelse</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Arnesen, Jonas</a></td>
					<td class="definisjon">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
				</tr>

				<tr>
					<td class="navn"><a href="#">Brakman, Petter</a></td>
					<td class="definisjon">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
				</tr>

			</table>

		</div>

	</div>

	</div>
</div>

