#{extends 'main.html' /}
#{set subPageTitle:'Personregister' /}
#{ header /}



<script type="text/javascript">

	

		$(document).ready(function() {
                           
                $('div.person').hide();
                $('div.root').hide();
                
                alphabet = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','æ','ø','å'];
                function normAlfa( a ) { // normalise names to lower case without diacritical marks etc., KK 2014.10.07
                      if( a.search(/[\u0080-\uffff]/) >= 0 ) {
                          return a.toLowerCase().replace(/[áàäâ]/g,"a").replace(/ç/g,"c").replace(/ð/g,"d").replace(/[éèëê]/g,"e").replace(/þ/g,"th").replace(/[íìïî]/g,"i").replace(/[óòöô]/g,"o").replace(/[úùüû]/g,"u").replace(/[ýỳÿŷ]/g,"y").replace(/æ/g,"{").replace(/ø/g,"|").replace(/å/g,"}");
                      }
                      else {
                          return a.toLowerCase();
                          }
                }
                
                $.each(alphabet, function(index, value) { 
                        var nodes = [];
                        $('div.person').each(function(index2) {
                            name = $(this).find('span.name').text();
                            // alert("Adding: " + name);
                            firstLetter = normAlfa(name.charAt(0));
                            if(firstLetter == normAlfa(value)){ 
                                $(this).hide();
                                year = $(this).find('.row span.year').text() + ', '; 
                                if( year == ', ') { year = '';};
                                var addName = $(this).find('.row span.addName').not($('span span')).text();
                                nation = $(this).find('.row span.nation').text();
                                about = $(this).find('.row span.encyk').text();
                                if ($(this).find(".altName").length > 0) {
                                    var gotoName = $(this).find(".gotoName").html();
                                    node = '<!--' + normAlfa(name) + '--><tr><td class="navn"><a href="../personer#">' + name + '</a></td><td>' + gotoName + '</tr>';
                                } else { 
                                    var id = $(this).attr("id");
                                    node = '<!--' + normAlfa(name) + '--><tr><td class="navn"><a ' + 'id="' + id + '"href="../personer#">' + name + '</a></td><td class="definisjon">' + year + addName + nation + ' ' + about + '</td></tr>';
                                }
                                $(this).attr("id", "");
                                nodes.push(node);
                            }
                        });
                        nodes = nodes.sort().reverse();
                        $(nodes).each( function(index, value2) {
                        $('#' + value.toUpperCase()).after(value2);
                        });
                });

		});


	</script>
        

<div id="main">
    <div class="container" id="underside_innhold">
        <div id="submenu">
            <div id="breadcrumbs"><a href="#">Forside</a> &raquo; Registre &raquo;  Personregister</div>
            <a id="person_vejledning" href="../vejledning/pers_vej">Vejledning til personregister</a>
        </div>
        
        <div class="kolonne1">
            <ul id="kolonne1_meny">
                <li class="header">Registre</li>
                <li><a href="../reg">Registranten</a></li>
                <li><a href="../myter">Mytologisk register</a></li>
                <li><a class="selected" href="../personer">Personregister</a></li>
                <li class=""><a href="../steder">Stedregister</a></li>
                <li class=""><a href="../bibel">Bibelregister</a></li>
                <li class="last"><a class="" href="../bookinvent">Bogfortegnelse 1805</a></li>
            </ul>
        </div>

	<div id="kolonne1_bred">
            
            <h1>Personregister</h1>
            
            <p>En oversigt over historiske, bibelske og fiktive personer i Grundtvigs værker.</p>
            
            <div id="innholdsfortegnelse">
                
                <a href="../personer#A">a</a>                
                <a href="../personer#B">b</a>
                <a href="../personer#C">c</a>
                <a href="../personer#D">d</a>
                <a href="../personer#E">e</a>
                <a href="../personer#F">f</a>
                <a href="../personer#G">g</a>
                <a href="../personer#H">h</a>
                <a href="../personer#I">i</a>
                <a href="../personer#J">j</a>
                <a href="../personer#K">k</a>
                <a href="../personer#L">l</a>
                <a href="../personer#M">m</a>
                <a href="../personer#N">n</a>
                <a href="../personer#O">o</a>
                <a href="../personer#P">p</a>
                <a href="../personer#Q">q</a>
                <a href="../personer#R">r</a>
                <a href="../personer#S">s</a>
                <a href="../personer#T">t</a>
                <a href="../personer#U">u</a>
                <a href="../personer#V">v</a>
                <a href="../personer#W">w</a>
                <a href="../personer#X">x</a>
                <a href="../personer#Y">y</a>
                <a href="../personer#Z">z</a>
                <a href="../personer#Æ">Æ</a>
                <a href="../personer#Ø">Ø</a>
                <a href="../personer#Å">Å</a>
            </div>

		<div id="liste" class="hideroot">

                ${asset.html.raw()}

                <table class="pers">
                	<tr class="bottom_border" id="A">
                		<td class="navn"><h4>A</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	
                	<tr class="bottom_border" id="B">
                		<td class="navn"><h4>B</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	
                	<tr class="bottom_border" id="C">
                		<td class="navn"><h4>C</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	
                	<tr class="bottom_border" id="D">
                		<td class="navn"><h4>D</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="E">
                		<td class="navn"><h4>E</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="F">
                		<td class="navn"><h4>F</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="G">
                		<td class="navn"><h4>G</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="H">
                		<td class="navn"><h4>H</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="I">
                		<td class="navn"><h4>I</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="J">
                		<td class="navn"><h4>J</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="K">
                		<td class="navn"><h4>K</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="L">
                		<td class="navn"><h4>L</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="M">
                		<td class="navn"><h4>M</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="N">
                		<td class="navn"><h4>N</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="O">
                		<td class="navn"><h4>O</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="P">
                		<td class="navn"><h4>P</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="Q">
                		<td class="navn"><h4>Q</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="R">
                		<td class="navn"><h4>R</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="S">
                		<td class="navn"><h4>S</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="T">
                		<td class="navn"><h4>T</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="U">
                		<td class="navn"><h4>U</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="V">
                		<td class="navn"><h4>V</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="W">
                		<td class="navn"><h4>W</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="X">
                		<td class="navn"><h4>X</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="Y">
                		<td class="navn"><h4>Y</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="Z">
                		<td class="navn"><h4>Z</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="Æ">
                		<td class="navn"><h4>Æ</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="Ø">
                		<td class="navn"><h4>Ø</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>
                	<tr class="bottom_border" id="Å">
                		<td class="navn"><h4>Å</h4></td>
                		<td></td>
                		<td></td>
                		<td><a class="returnTop" href="../personer#" title="til toppen">&#x25B2;</a></td>
                	</tr>

			</table>

		</div>

	</div>

	</div>
</div>

