#{extends 'main.html' /}
#{ header /}


<div id="main">

	<div class="container" id="underside_innhold">

		<div id="submenu">
		<div id="breadcrumbs"><a href="#" >Forside</a> &raquo; <a href="#">Registre</a> &raquo;  Mytologisk register</div>

		</div>


<div class="kolonne1">

		<ul id="kolonne1_meny">

			<li class="header">Registre</li>


                                <li><a class="selected" href="../reg">Registranten</a></li>				
                                <li><a href="../myter">Mytologisk register</a></li>
				<li><a href="../personer">Personregister</a></li>
				<li class=""><a href="../steder">Stedsregister</a></li>
                                <li class=""><a  href="../bibel">Bibelregister</a></li>
                                <li class="last"><a class="" href="../bookinvent">Bogfortegnelse 1805</a></li>


		</ul>

	</div>

	<div id="kolonne1_bred">

		<h1>Registranten</h1>
		<p>En oversikt over anvendte kort fra Registranten.</p>

		

		<div id="registranten">

                ${asset.html.raw()}

                <br>
                <br>

		</div>

	</div>

	</div>
</div>

