
#{extends 'main_tekstvisning.html' /}
#{ header /}


<script>
currentChapter = ${chapter.num};
currentTextId = ${asset.id};
numOfPictures = ${asset.numberOfPictures};
var txrUrl = "ajax/getTxr/" + ${asset.id};
var kommentarUrl = "ajax/getComment/" + ${asset.id};
var introUrl = "ajax/getIntro/" + ${asset.id};
rootFile = "${asset.fileNameWithoutXml}";

</script>


<div id="testClick" style="display: none;">Add to url</div>

<div id="main">

	<div class="container">

		<div id="submenu">
		<div id="breadcrumbs"><a href="#">Forside</a> &raquo; <a href="#">Værker</a> &raquo; ${asset.name}</div>
		<!-- <div id="select_view">
			<form action="">
				<input type="radio" name="visning" id="lesevisning" value="1" disabled/><label for="lesevisning">Lesevisning</label>
				<input type="radio" name="visning" id="filologisk_visning" value="2" checked /><label for="filologisk_visning">Filologisk visning</label>
			</form>
		</div>!-->
               
                
               
                <a id="settings" href="">Tekststørrelse & font</a>

                    <div id="settings_dropdown">

                    <a id="settings_inner" href="">Tekststørrelse & font</a>
                    <br/><br/>
                    <h4>Størrelse</h4>
                    <span id="small_A">A</span>
                            <div id="slider"></div>
                    <span id="big_A">A</span>

                    <span id="amount" ></span>
                    <br/><br/>

                    <h4>Font</h4>
                    <input type="radio" id="font_georgia" name="group1" value="Klassisk" checked><label id="font_georgia_label" for="font_georgia">Klassisk</label><br>

                    <br><input type="radio" id="font_verdana" name="group1" value="Moderne"> <label id="font_verdana_label" for="font_verdana">Moderne</label><br>

                    </div>

                <span id="hjelp_link"><a id="" href="../vejledning/om_udgaven_vej" target="_blank">Vejledning</a> | </span>
                
		</div>


			<div id="hovedtekst">
				<div id="toppmeny" class="nav_meny">
					<span class="previous" title="Forrige kapitel"></span>
					<span class="chapter">
						<select class="chapterSelector">
                                                    #{list chapters, as:'c'}
                                                        <option value="${c.num}" selected>${c.name}</option>
                                                    #{/list}
						</select>
						</span>
					
                                        %{ nextChapter = [chapter.num + 1, chapters.size - 1].min(); }%
                                        
                                        <!--
					<a href="tekstvisning/${asset.id}/${nextChapter}" class="next" title="Neste kapitel"></a>
                                        -->
                                        
                                        <span class="next"next></span>
                                        
				</div>
				
                                <div id="hovedtekst_select">select box her</div>

				<div id="hovedtekst_toppfade"></div>
				<div id="hovedtekst_bunnfade"></div>


				<div id="tekst_innhold" class="text-resizeable">
                                    
				</div>

				<div id="bunnmeny" class="nav_meny">
					<span class="previous" title="Forrige kapitel"></span>
					<span class="chapter">
						<select class="chapterSelector">
                                                    #{list chapters, as:'c'}
                                                        <option value="${c.num}" selected>${c.name}</option>
                                                    #{/list}
						</select>
						</span>
					<span class="next"next></span>
				</div>

			</div>

		<div id="høyre">
                    <div id="høyre_toppmeny_nytt_navn">
                        
                    </div>
		
		<div id="høyre_toppfade"></div>
		<div id="høyre_bunnfade"></div>
		
		</div>
		
		<div id="ny_kolonne_bar"><span alt="Ã…pne ny kolonne" id="ny_kolonne_knapp"></span></div>
	</div>
</div>
