#{extends 'main_tekstvisning.html' /}
#{set subPageTitle: asset.name /}
#{ header /}


<script>

 

currentTextId = ${asset.id};
numOfPictures = ${asset.numberOfPictures};
var txrUrl = "ajax/getTxr/" + ${asset.id};
var kommentarUrl = "ajax/getComment/" + ${asset.id};
var introUrl = "ajax/getIntro/" + ${asset.id};
rootFile = "${asset.fileNameWithoutXml}";
var hovedtekstSelect = 'Vis variant: #{variantsAsDropDown variants:variants /}';


</script>


<div id="testClick" style="display: none;">Add to url</div>

<div id="main">

	<div class="container">
            
            <div id="submenu">
            
            <!-- test setting teknisk opdatering 2014.12.01 START -->
                    
                    <div id="breadcrumbs">
                        
                        <a href="#">Forside</a> &raquo; <a href="krono">Værker</a> &raquo; ${asset.name}
                        
                        <div id="select_view">
                            
                            <!--p>Tekstkritik</p>
                            
                            <input type="checkbox">
                                <label>Tekstrettelser</label>
                            </input>
                            
                            <input type="checkbox">
                                <label>Supplernde noter</label>
                            </input>
                            
                            <p>Registre</p>
                            
                            <input type="checkbox">
                                <label>Personnavne</label>
                            </input>
                            
                            <input type="checkbox">
                                <label>Stednavne</label>
                            </input>
                            
                            <input type="checkbox">
                                <label>Mytologi</label>
                            </input>
                            
                            <input type="checkbox">
                                <label>Bibelsteder</label>
                            </input>
                            
                            <button onclick="window.open('{$printWork}','{$newWindow}')">Udskriv teksten</button-->
                            
                            <!--form action="">
                                <input type="radio" name="visning" id="filologisk_visning" value="2" checked /><label for="filologisk_visning">Tilpas visning</label>
                            </form-->
                        </div>
                    
                    </div>
                    
            
            <!-- test setting 2014.12.01 END -->
                    
                <!--
                visning version 1.5:
                
		<div id="breadcrumbs">
                    <a href="#">Forside</a> &raquo; <a href="krono">Værker</a> &raquo; ${asset.name}
                </div>
                    
                <div id="select_view">
                    <form action="">
                        <input type="radio" name="visning" id="lesevisning" value="1" disabled/><label for="lesevisning">Lesevisning</label>
                        <input type="radio" name="visning" id="filologisk_visning" value="2" checked /><label for="filologisk_visning">Filologisk visning</label>
                    </form>
		</div>
                -->
                
                <span id="settings">Visning</span>

                    <div id="settings_dropdown">
                        <!-- *************************************************************** -->
                        <!-- Checkboxes for pagenumbers and optional highlighting of various elements KK 2015-02-26 -->
                        
                        <span id="settings_inner">Visning</span>
                        <br/><br/>
                        <h4>Vis sidetal i:</h4>
                        <div id="pBoxDiv">
                            <!-- 
                                here will appear boxes like this:-
                                <div>
                                <input checked="" class="setInput" id="showHidePagA" type="checkbox">A
                                </div> 
                            -->
                        </div>
                        <br/>
                        <h4>Vis:</h4>
                        <div id="showBoxDiv">
                            <!-- 
                                here will appear boxes like this:-
                                <div>
                                <input checked="" class="setInput" id="showHidelem" type="checkbox">Tekstkritik</div>
                                </div> 
                            -->
                        </div>
                        <br/>
                        <button id="showAll" class="show">Vælg alt</button>
                        <button id="showNot" class="show">Slet alt</button>
                        
                        <!-- *************************************************************** -->
                        <!--span id="settings_inner">Tekststørrelse & font</span-->
                        
                        <br/>
                        <br/>
                        
                        <h4>Størrelse</h4>
                        <span id="small_A">A</span>
                        <div id="slider"></div>
                        <span id="big_A">A</span>
                        
                        <span id="amount"></span>
                        
                        <br/>
                        <br/>
                        
                        <h4>Font</h4>
                        <input type="radio" id="font_georgia" name="group1" value="Klassisk" checked>
                        
                        <label id="font_georgia_label" for="font_georgia">Klassisk</label>
                        
                        <br>
                        <br>
                        
                        <input type="radio" id="font_verdana" name="group1" value="Moderne">
                        
                        <label id="font_verdana_label" for="font_verdana">Moderne</label>
                        
                        <br>
                            
                        
                            <!-- *************************************************************** -->
                            <!-- Save button for explicit use of cooies, KK 2015-02-26 -->
                            
                            <br/>
                            <button id="saveCookie" class="show">Gem i cookie</button>
                            <div style="font-size:75%;margin:5px"><a href="http://www.au.dk/om/profil/cookies/" target="_blank">(hvad er en cookie?)</a></div>
                            
                            <!-- *************************************************************** -->

                    </div>

                <span id="hjelp_link"><a id="" href="../vejledning/om_udgaven_vej" target="_blank">Vejledning</a> | </span>
                
		</div>


			<div id="hovedtekst">
                            
                            <script type="text/javascript">
                                
                                function showhidePb( id ) { 
  var elem= document.getElementById( id );
  if ( !elem ) { alert( 'no block to split' ); }
  if ( elem.style.display=='inline' ) {
    elem.style.display= 'none';
    }
  else {
    elem.style.display= 'inline';
    }
  }
                                
                            </script>
				<div id="toppmeny" class="nav_meny">
					<span class="previous" title="Forrige kapitel"></span>
					<span class="chapter">
						<select class="chapterSelector">
						    #{list chapters, as:'c'}
						    <option value="${c.num}" selected>${c.name}</option>
						    #{/list}
						</select>
						</span>
					
                                        %{ nextChapter = [chapter.num + 1, chapters.size - 1].min(); }%
                                        
                                        <!--
					<a href="tekstvisning/${asset.id}/${nextChapter}" class="next" title="Neste kapitel"></a>
                                        -->
                                        
                                        <span class="next" title="Næste kapitel"></span>
                                        
				</div>
			    
			    <div id="hovedtekst_select">select box her</div>
				<div id="hovedtekst_toppfade"></div>
				<div id="hovedtekst_bunnfade"></div>


				<div id="tekst_innhold" class="text-resizeable">
                                    
				</div>

				<div id="bunnmeny" class="nav_meny">
					<span class="previous" title="Forrige kapitel"></span>
					<span class="chapter">
						<select class="chapterSelector">
						    #{list chapters, as:'c'}
						    <option value="${c.num}" selected>${c.name}</option>
						    #{/list}
						</select>
						</span>
					<span class="next" title="Næste kapitel"></span>
				</div>

			</div>

		<div id="høyre">
		    <div id="høyre_toppmeny_nytt_navn"></div>
		    <div id="høyre_toppfade"></div>
		    <div id="høyre_bunnfade"></div>
		</div>
		
		<div id="ny_kolonne_bar"><span alt="Ã…pne ny kolonne" id="ny_kolonne_knapp"></span></div>
	</div>
</div>
