#{extends 'main.html' /}
#{ header /}

<script>

  $(document).ready(function() {

    // load vejledning content

    var vejledning = "${vejledningSomSkalVises}";

    // add selected to menu
    $("a").removeClass('selected');
    $("a#" + vejledning).addClass('selected');
         
         var veiledningUrl = "ajax/getVeiledning/" + vejledning;
         $.ajax({
             url: veiledningUrl,
             success: function(data) {
                 var veiledningContent = $("#veiledning_tekst");
                 veiledningContent.html(data);
                 addTooltip($('.persName, .placeName, .myth, .rs_bible'));
             }
         });

          // tooltip

    var addTooltip = function (tags) {
        tags.cluetip({cluetipClass: 'jtip', closeText : 'Luk', mouseOutClose: true, width: 375, dropShadow: false, sticky: true, ajaxCache: false, arrows: false});
    }

    var removeTooltip = function(tags) {
        tags.cluetip('destroy');
    }


    
  });

  </script>

<div id="main">

	<div class="container" id="underside_innhold">

		<div id="submenu">
		<div id="breadcrumbs"><a href="#">Forside</a> &raquo; Vejledning</div>

		</div>


<div class="kolonne1">

		<ul id="kolonne1_meny">

			<li class="header">Vejledning</li>
                        <li><a id="om_udgaven_vej" href="/vejledning/om_udgaven_vej">Vejledning</a></li>
                        
                        <li><a id="indhold_vej" href="/vejledning/indhold_vej">Udgavens indhold</a></li>
                        <li><a id="txtnoter_vej" href="/vejledning/tknoter_vej">Vejledning til tekstkritiske noter</a></li>
                        <li><a id="varapp_vej" href="/vejledning/varapp_vej">Vejledning til variantapparat</a></li>
                        <li><a id="ms_vej" href="/vejledning/ms_vej">Vejledning til manuskriptvisning</a></li>
                        <li><a id="timeline_vej" href="/vejledning/timeline_vej">Vejledning til tidslinje</a></li>
                        <li><a id="pers_vej" href="/vejledning/pers_vej">Vejledning til personregister</a></li>
                        <li><a id="bibel_vej" href="/vejledning/bibel_vej">Vejledning til bibelregister</a></li>
                        <li><a id="myth_vej" href="/vejledning/myth_vej">Vejledning til mytologisk register</a></li>   
                        <li><a id="1805_vej" href="/vejledning/metrik_vej">Vejledning til metriske oplysninger</a></li>        
                        <li><a id="bog_vej" href="/vejledning/1805_vej">Vejledning til Bogfortegnelse 1805</a></li>
                        <li><a id="trans_vej" href="/vejledning/transskription_vej">Vejledning til transskription</a></li>
                        <li class="last"><a href="mailto:mail@grundtvigsvaerker.dk">Kontakt</a></li>
		</ul>

	</div>

	<div id="kolonne1_bred">

		<div id="veiledning_tekst">
			
		</div>


	</div>

	</div>
</div>

