tmp/
/logs/system.out
/project_doc/*
nbproject/private/*
/tmp/*
/db/
*.xml
/logs/
/public/xml/
/public/images/
/public/images/*
nbproject/project.xml
/nbproject/
/nbproject/private/
!/public/xml/veiledninger/
