/* bible.css

.bible_content KSR: 2011.12.06

*/


/* html-delen start */

.bible_content .head
        {
         margin: 0em 0em 2em 3em;
         font-size: 150%;
        }

/* html-delen start */

.bible_content div
        {
            margin: 9px 0; font-size:18px;
        }

.bible_content div.book
        {
        font-size:130%; font-family: "Times New Roman", serif; 
        margin: 1.5em 0 1.5em 0em; font-weight:bold;
        }

.bible_content span.plus
        {
        margin: 0.5em
        }

.bible_content span.verse
        {
        margin: 1em
        }

.bible_content table
        {
        }

.bible_content tr
        {
        
        }

.bible_content td.shortForm
        {
        margin: 1em 0em 1em 1em;
        }

.bible_content table.occur
        {
        display: none;
        margin: 0em 0em 0em 3.5em;
        width:100%;
        }

.bible_content .verse
        {
        display: none;
        margin: 0em 0em 0em  2em;
        }

.bible_content .plusBook
        {
        background-color: white;
        border-bottom: 1px solid #aaa;
        border-radius: 3px;
        color: green;
        cursor: pointer;
        font-family: monospace;
        font-weight: bold;
        margin: 1em 5px 1em 0.5em ;
        text-align: center;
        padding: 5px 11px;
        }
        
        .bible_content .plusBook:hover
            {
            background-color: green;
            color: white;
            border-bottom: 1px solid #555;

            }

.bible_content .plusVerse
        {
        background-color: white;
        color: green;
        cursor: pointer;
        font-family: monospace;
        font-weight: bold;
        margin: 1em 4px 1em 1em;
        text-align: center;
        padding: 1px 6px;
        background-color: white;
        border-bottom: 1px solid #aaa;
        border-radius: 2px;
        }
            
    .bible_content .plusVerse:hover
            {
            background-color: green;
            color: white;
            border-bottom: 1px solid #555;
         
            }
        
        
.bible_content a:link
        {
        color: grey;
        text-decoration: none;
        }
    
.bible_content a:visited
        {
        text-decoration: none;
        }
        
.bible_content a:hover
        {
        color: green;
        text-decoration: underline;
         }
         
.bible_content a:active 
        {
        text-decoration: underline;
        }

.bible_content .textType
        {        
        font-family: "Times New Roman";
        font-size: 90%;
        
        }
.bible_content h1.head { display:none; }        