/* KSR: 2011.03.24 */


.kommentar .bold
        {
        font-weight: bold;
        }

.kommentar .head
        {
        font-size: 120%;
        margin-bottom: 2em;
        text-align: center;
        }
 
 .kommentar .author
        {
        font-size: 65%;
        margin: 0em 0em 0em 0em;
        text-align: center;
        line-height:1.6em;
        }

.kommentar .italic
        {
        font-style: italic;
        }

.kommentar li.liOrdered
        {
        margin: 0.25em 0em 0.25em 0em;
        text-align: justify;
        }

.kommentar .litList
        {
        margin: 2em 2em 2em 2em;   
        }

.kommentar .readMore
        {
        margin: 2em 2em 2em 2em;
        text-align: left;
        }
        
.kommentar .readMoreP
        {
        margin-right: 2em;
        text-align: left;
        }

.kommentar .p
        {
        margin: 2em 0em 2em 0em;
        }
        
.kommentar .note
        {
        text-align: left;
        margin: 2em 1em 2em 1em;
        }
        
.kommentar .myth 
        {
        margin:0;            
        }
        
.kommentar .plusComment 
        {
        color: #4DBC4D; cursor:arrow;
        }
        
.kommentar .appInvisible 
        {
        display:none;
        }
        
   .kommentar .readMore i 
        {
        display:none;
        }             