/* KSR: 2011.03.24 */


.kommentar .bold
        {
        font-weight: bold;
        }

.kommentar .head
        {
        font-size: 120%;
        margin-bottom: 2em;
        }

.kommentar .italic
        {
        font-style: italic;
        }

.kommentar li.liOrdered
        {
        margin: 0.25em 0em 0.25em 0em;
        text-align: justify;
        }

.kommentar .litList
        {
        margin: 2em 2em 2em 2em;   
        }

.kommentar .readMore
        {
        margin: 2em 2em 2em 2em;
        text-align: left;
        }
        
.kommentar .readMoreP
        {
        margin-right: 2em;
        text-align: left;
        }
.kommentar .note
        {
        text-align: left;
        margin: 1em 1em 1em 1em;
        }