/* KSR for Grundtvigs Værker */

/* table START 

.innledningContent table.msDesc, .innledningContent table.textualCriticism, .innledningContent table.printDesc, .innledningContent table.contentDesc, .innledningContent table.source
        {
        font-size: 14px;
        line-height: 150%;
        border-collapse: collapse;
        empty-cells: show;
        margin: 2em 0em 2em 0em;
        vertical-align: top;
        width: 100%;
        }

.innledningContent td:first-child
        {
        width: 10%;
        }
        
.innledningContent table.source, .innledningContent td:first-child, .innledningContent tr, .innledningContent td
        {
        border: 1px solid black;        
        }
        
 table END*/

.innledningContent table.source
        {
        border: 1px solid black;
        border-collapse: collapse;
        empty-cells: show;
        font-size: 14px;
        line-height: 150%;
        margin: 2em 0em 2em 1em;
        vertical-align: top;
        width: 27.5em;
        }

.innledningContent tr.center
        {
        color: red;
        text-align: center;
        }

.innledningContent table.source td
        {
        border: 1px solid black;
        padding: 3px;
        }

.innledningContent table.source td:nth-child(1)
        {
        width: 35%;
        border: 1px solid black;
        border-collapse: collapse;
        }

.innledningContent table.source td:nth-child(2)
        {
        width:55%;
        border: 1px solid black;
        border-collapse: collapse;
        }

.innledningContent {
    line-height: 1.5em;
}

.innledningContent a.app 
        {
        color: green;
        font-size: 100%;
        text-decoration: none;
        }

.innledningContent div.appInvisible
         {
         display: none;
         font-size: 100%;
         line-height: 100%;
         margin: 0.5em 0em 1em 1em;
         text-align: justify;
         }

.innledningContent .plus
          {
          color: green;
          cursor: pointer;
          font-family: "georgia, garamond, serif";
          text-align: center;
          }

.innledningContent .lem
        {
        color: gray;
        }

.innledningContent a.docIn
        {
        text-decoration: none;
        color: #4DBC4D;
        }

.innledningContent a.docIn:hover
        {
        color: #006633;
        cursor: pointer;
        }

.innledningContent a.docOut
        {
        text-decoration: none;
        color: #4DBC4D;
        }

.innledningContent a.docOut:hover
        {
        color: #006633;
        cursor: pointer;
        }

.innledningContent a.toc
        {
        text-decoration: none;
        color: #000000;
        }

.innledningContent a.toc:hover
        {
        color: #006633;
        }
        
.innledningContent .author
        {
        text-align: left;
        }
        
.innledningContent .author, .translator
        {
        font-size: 14px;
        margin: 1em 0em 0em 0em;
        text-align: center;
        line-height:1.6em;
        }

.innledningContent .readMore
        {
        line-height:1.5em;
        margin: 0em 1em 0em 0em;
        }

.innledningContent .bold
        {
        font-weight: bold;
        }
        
.innledningContent .cell
        {
        margin: 0em 3em 0em 3em;
        }

.innledningContent td.center
        {
        text-align: center;
        }

.innledningContent .div
        {
        text-align: justify;
        }

.innledningContent .editor
        {
        text-align: left;
        }

.innledningContent .firstIndent, .innledningContent .noIndent
        {
        font-size: 14px;
        margin: 1em 0em 1em 0em;
        text-align: justify;
        }

.innledningContent .center
        {
        font-size: 14px;
        margin: 1em 0em 1em 0em;
        text-align: center;
        }

/* p rend quote START */
        
.innledningContent .quote, .innledningContent .quoteFirst, .innledningContent .quoteCenter
        {
        font-size: 90%;
        line-height: 125%;
        margin: 1em 2em 1em 2em;
        }
        
.innledningContent .quote
        {
        text-indent: 0em;
        }
        
.innledningContent .quoteFirst
        {
        text-indent: 2em;
        }
        
.innledningContent .quoteCenter
        {
        text-align: center;
        }
        
        
/* p rend quote END */

.innledningContent .fwLongLine
        {
        width: 5em;
        }

.innledningContent .fwShortLine
        {
        width: 3em;
        }

/*nivo 0*/

.innledningContent .content
        {
        color: #000000;
        margin-bottom: 1em;
        margin-left: 1em;
        }

.innledningContent .toc
        {
        text-align: left;
        font-size: 100%;
        margin: 0em;
        margin-left: 1em;
        }

.innledningContent .head
        {
        text-align: center;
        margin: 1em 0em 1em 0em;
        font-size: 150%;
        line-height: 125%;
        }

.innledningContent .div .head
        {
        font-size: 130%;
        text-align: center;
        margin: 1em 0em 1em 0em;
        }

.innledningContent .div .div .head
        {
        font-size: 110%;
        text-align: center;
        margin: 1em 0em 1em 0em;
        }

.innledningContent .initial
        {
        font-style: normal;
        font-size: 120%;
        }

.innledningContent .italic, .innledningContent .spaced
        {
        font-style: italic;
        }

.innledningContent .underLine
        {
        text-decoration: underline;
        }

.innledningContent .lgNumber
        {
        font-size: 100%;
        margin-left: 10px;
        }

/* lister start */

.innledningContent li.liSimple
        {
        margin: 0.25em 0em 0.25em 0em;
        text-align: justify;
        }

.innledningContent li
        {
        font-size: 90%;
        }

.innledningContent .litList, .innledningContent .webList
        {
        font-size: 12px;
        list-style: circle;
        margin: 1em;   
        }

.innledningContent .lowerAlpha
        {
        list-style-type: lower-alpha;
        margin: 1em;
        }

.innledningContent .lowerRoman
        {
        list-style-type: lower-roman;
        margin: 1em;
        }

.innledningContent .decimal
        {
        list-style-type: decimal;
        margin: 1em;
        }

.innledningContent .simple
        {
        list-style-type: circle;
        margin: 1em;
        }

.innledningContent .upperAlpha
        {
        list-style-type: upper-alpha;
        margin: 1em;
        }

.innledningContent .upperRoman
        {
        list-style-type: upper-Roman;
        margin: 1em;
        }

/* lister end */

.innledningContent .justify
        {
        text-align: justify;
        }

.innledningContent .left
        {
        text-align: left;
        }

.innledningContent .lg
        {
        text-align: left;
        margin: 2em 2em 2em 2em;
        }

.innledningContent .pageNumber
        {
        text-align: justify;
        margin-right: 50px;
        margin-left: 50px;
        margin: 4em 4em 4em 4em;
        }

.innledningContent .p
        {
        margin: 2em 2em 2em 2em;
        }
        
.innledningContent .headQuote
        {
        font-weight: bold;
        text-align: center;
        }

.innledningContent .right
        {
        text-align: right;
        }

.innledningContent .romanType
        {
        font-family: arial;
        }

.innledningContent .secondIndent
        {
        text-indent: 4em;
        text-align: justify;
        }

/*
.innledningContent .seg
        {
        color: gray;
        }
*/

.innledningContent .spaceOne
        {
        line-height: 200%;
        }
        
.innledningContent .spaceTwo
        {
        line-height: 300%;
        }

.innledningContent .titlePage
        {
        margin-right: 50px;
        margin-left: 50px;
        }

.innledningContent .witness
        {
        margin-left: 50px; 
        }

/*<span style="width:50px;display:block;float:left;">Tel.</span>*/

.innledningContent .witnessXmlId
        {
        font-style: italic;
        width: 50px;
        display: block;
        float: left; 
        }
        
.pdf
        {
        background-image: url(../img/pdficon_small.png);
        padding-left: 20px;
        background-repeat: no-repeat;
        background-position: left center;
        }
        
/* rs bible START */

.innledningContent a.rs_bible
        {
        text-decoration: none;
        color: #4DBC4D;
        }

.innledningContent a.rs_bible:hover
        {
        color: #006633;
        cursor: pointer;
        }

/* rs bible END*/