/* txtCSS.css til styling af tekster */
/* KSR: 2011.09.05 */

/*
a.app 
        {
        color: black;
        text-decoration: none;
        }

span.appInvisible
         {
         display: none;
         color: blue;
         }

.app:hover 
         {
         color: green;
         }

.app:hover .appInvisible
        {
        display: inline;
        }

.lem
        {
        color: gray;
        }
*/


/* app start */

.manusMain .ms
        {
        color: black;
        }

.manusMain .firstDel
        {
        text-decoration: line-through;
        }

.manusMain .shading
        {
        background: url(shading.jpg) repeat;
        }

.manusMain .immediate
        {
        color: darkgreen;
        }

.manusMain .secondDel
        {
        text-decoration: line-through;
        }

.manusMain .secondDel
        {
        color: red;
        }

/* app end */

.manusMain div.head
        {
        font-size: 150%;
        margin: 2em 0em 2em 0em;
        }

.manusMain body   
        {
        font-family:"Georgia";
        font-size: 16px;
        line-height: 110%;
        margin-top: 11em;
        margin-bottom: 10em;
        margin-right: 5em;
        margin-left: 5em;
        }

.manusMain .underLine
        {
        text-decoration: underline;
        }

.manusMain .bold
        {
        font-weight: bold;
        }

.manusMain .center
        {
        text-align: center;
        }

.manusMain .editionPhilologist
        {
        margin-left: 50px;
        }

.manusMain .emendation
        {
        text-align: justify;
        margin-right: 50px;
        margin-left: 50px;
        margin: 2em 2em 2em 2em;
        }

.manusMain .firstIndent
        {
        text-indent: 2em;
        text-align: justify;
        }

.manusMain .fwLongLine
        {
        margin: 2em;
        width: 5em;
        }

.manusMain .fwShortLine
        {
        margin: 2em;
        width: 3em;
        }

.manusMain .hangingIndent
        {
        text-indent: -1em;
        padding-left: 1em;
        }

.manusMain .initial
        {
        font-style: normal;
        font-size: 120%;
        }

.manusMain .italic
        {
        font-style: italic;
        }

.manusMain .justify
        {
        text-align: justify;
        }

.manusMain .l_center
        {
        text-align: center;
        }

.manusMain .lgNumber
        {
        font-size: 100%;
        margin-left: 10px;
        }

.manusMain .left
        {
        text-align: left;
        }

.manusMain .lfirstIndent
        {
        text-indent: 1em;
        }

.manusMain .lsecondIndent
        {
        text-indent: 2em;
        }

.manusMain .lthirdIndent
        {
        text-indent: 4em;
        }

.manusMain .hat
        {
        text-align: left;
        margin: 5em 1em 2em 1em;
        }

.manusMain .motto
        {
        font-size: 80%;
        line-height: 110%;
        margin: 1em 0em 1em 0em;
        }

.manusMain .noIndent
        {
        text-indent: 0em;
        text-align: justify;
        }

.manusMain .pageNumber
        {
        text-align: justify;
        margin-right: 50px;
        margin-left: 50px;
        margin: 4em 4em 4em 4em;
        }

.manusMain .pbA, .manusMain .pbMs
        {
        color: #008000;
        font-size: 80%;
        font-weight: bold;
        }

.manusMain .preFace
        {
        text-align: justify;
        margin-right: 150px;
        margin-left: 150px;
        margin: 4em 4em 4em 4em;
        }

.manusMain .raised
        {
        font-size: 80%;
        vertical-align: top;
        }

.manusMain .right
        {
        text-align: right;
        }

.manusMain .romanType
        {
        font-family: arial;
        font-size: 80%;
        }

.manusMain .secondIndent
        {
        text-indent: 4em;
        text-align: justify;
        }

.manusMain .size-1
        {
         font-size: 80%;
        }

.manusMain .spaceOne
        {
        line-height: 200%;
        }
        
.manusMain .spaceTwo
        {
        line-height: 300%;
        }

/* titlePage start */

.manusMain .titlePage
        {
        text-align: center;
        margin: 2em 0em 2em 0em;
        }

.manusMain .main1, .manusMain .main2, .manusMain .main3,.manusMain .main4,.manusMain .main5,.manusMain .main6
        {
        margin: 2em;
        }
        
.manusMain .main1
        {
        font-size: 120%;
        }

.manusMain .main2
        {
        font-size: 144%;
        }

.manusMain .main3
        {
        font-size: 172%;
        }

.manusMain .main4
        {
        font-size: 207%;
        line-height: 200%;
        }

.manusMain .main5
        {
        font-size: 248%;
        line-height: 200%;
        }

.manusMain .main6
        {
        font-size: 298%;
        line-height: 200%;
        }

.manusMain .part1,.manusMain .part2,.manusMain .part3,.manusMain .part4,.manusMain .part5,.manusMain .part6
        {
        margin: 2em;
        }

.manusMain .part1
        {
        font-size: 120%;
        }

.manusMain .part2
        {
        font-size: 144%;
        }

.manusMain .part3
        {
        font-size: 172%;
        }

.manusMain .part4
        {
        font-size: 207%;
        line-height: 200%;
        }

.manusMain .part5
        {
        font-size: 248%;
        line-height: 200%;
        }

.manusMain .part6
        {
        font-size: 298%;
        line-height: 200%;
        }

.manusMain .docTitle
        {
        margin: 2em;
        }

.manusMain .byline
        {
        margin: 2em;
        }

/* titlePage end */

.manusMain .witness
        {
        margin-left: 50px; 
        }
        
.manusMain .witnessXmlId
        {
        font-style: italic;
        width: 50px;
        display: block;
        float: left; 
        }