/* stylesheet til myth.xml */
/* Kim Steen Ravn, 2011.04.26 */
/* KK: 2016-09-26 Introduction of read-more in pop-ups */

.hideroot div.root { display:none; }

.myth a.myth:link
        {
        text-decoration: none;
        color: gray;
        }
        
.myth a.myth:visited
        {
        text-decoration: none;
        }
        
.myth a.myth:hover
        {
        text-decoration: none;
        }
        
.myth a.myth:active
        {
        text-decoration: none;
        }
        
.myth .sameAs
        {
        font-weight: normal;
        }
        
.myth
        {
        color: black;
        cursor: default;
        margin: 2em 0 2em 0;
        text-decoration: none;
        }

.myth .normForm
        {
	font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .epithet
        {
	font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .latin
        {
	font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .pseudoEpithet
        {
	font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .popUp
        {
        margin: 0.5em 0em 0.5em 0em;
        }

/* the read-more-plus button causes the following text to be displayed; this facility is disabled in the myth register, KK 2016-09-26 */

#listeMyth .readMore
        {
        display: none;
        } 

#listeMyth .appInvisible
        {
        display: block;
        }

div#cluetip-inner .normForm
        {
        display: none; /*the following cluetip will "always" start with the normal name form, KK 2016-09-12*/
        }

.myth .orthography
        {
        font-size: 90%;
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .encyc
        {
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .bold
        {
		font-weight: bold;
		}

.italic
        {
		font-style: italic;
		}
