/* stylesheet til myth.xml */
/* Kim Steen Ravn, 2011.04.26 */

body    
        {
		background-color: #D8D8D8;
		margin-top: 100px;
		margin-bottom: 100px;
		margin-right: 50px;
		margin-left: 50px;
		text-align:justify;
		}

a:link {
        text-decoration: none;
        color: gray;
        }
        
a:visited {
        text-decoration: none;
        }
        
a:hover {
        text-decoration: none;
        color: green;
        }
        
a:active {
        text-decoration: none;
        }
        
.sameAs
        {
        font-weight: normal;
        }
        
.row
        {
        margin: 2em
        }

.normForm
        {
		font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.epithet
        {
		font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.latin
        {
		font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.pseudoEpithet
        {
		font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.popUp
        {
        margin: 0.5em 0em 0.5em 0em;
        }

.orthography
        {
        font-size: 90%;
        margin: 0.5em 0em 0.5em 0em;
        }

.encyc
        {
        margin: 0.5em 0em 0.5em 0em;
        }

.bold
        {
		font-weight: bold;
		}

.italic
        {
		font-style: italic;
		}
