/* stylesheet til myth.xml */
/* Kim Steen Ravn, 2011.04.26 */

.hideroot div.root { display:none; }

.myth a.myth:link
        {
        text-decoration: none;
        color: gray;
        }
        
.myth a.myth:visited {
        text-decoration: none;
        }
        
.myth a.myth:hover
        {
        text-decoration: none;
        color: green;
        }
        
.myth a.myth:active
        {
        text-decoration: none;
        }
        
.myth .sameAs
        {
        font-weight: normal;
        }
        
.myth
        {
        colro: black;
        cursor: default;
        margin: 2em 0 2em 0;
        text-decoration: none;
        }

.myth .normForm
        {
	font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .epithet
        {
	font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .latin
        {
	font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .pseudoEpithet
        {
	font-weight: bold;
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .popUp
        {
        margin: 0.5em 0em 0.5em 0em;
        visibility: visible;
        }
        
div#cluetip-inner .myth {
        visibility: hidden;
}


.myth .orthography
        {
        font-size: 90%;
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .encyc
        {
        margin: 0.5em 0em 0.5em 0em;
        }

.myth .bold
        {
		font-weight: bold;
		}

.italic
        {
		font-style: italic;
		}
