/* Kim Steen Ravn, 2011.04.06 */

.hideroot div.root { display:none; }

.person a:link
        {
        text-decoration: none;
        color: gray;
        }
        
.person a:visited 
        {
        text-decoration: none;
        }
        
.person a:hover 
        {
        text-decoration: none;
        color: green;
        }
        
.person a:active
        {
        text-decoration: none;
        }

/* hi START */

.person .bold
        {
         font-weight: bold;
        }
        
.person .italic
        {
         font-style: italic;
        }

/* hi END*/

.person .cell
        {
         font-size: 100%;
        }

.person .head
        {
         font-size: 200%;
        }

.person .row
        {
         margin: 2em;
        }

.person .year
        {
         font-style: normal;
        }

.person .birthName
        {
        color: black
        }

.person .epithet
        {
        color: black
        }

.person .ladyName
        {
        color: black
        }

.person .maidenName
        {
        color: black
        }

.person .orthography
        {
        color: black
        }
        
.person .altName
        {
        color: black
        }
        
.person .xmlID
        {
        font-weight: bold
        }
        
