/*
placeCSS.css

Kim Steen Ravn

*/

div.facts {
    visibility: hidden;
}

.placelook .placeInnrykk {
    padding: 25px;
    display: inline-block;
}

.placelook .facts {
    width: 400px;
    padding-left: 10px;
}

/*

#liste table
        {
        border: 0px solid black;
        empty-cells: show;
        float: left;
        border-collapse: collapse;
        width: 60em;
        }

*/
        
td.navn
        {
        border: 0px solid black;
        paddin-left: 1em;
        }
        
.explanation
        {
        border: 0px solid red;
        color: gray;
        margin-left: 1em;
        text-align: left;
        width: 30em;
        padding-left: 10px;
        }

.placelook a {
    color: #4DBC4C;
    font-size: 75%    
}
        
span.placeName
        {
        color: #000000;
        font-size: 16px;
        }
        
.altNameSyn
        {
        color: red
        }
        
.altNameDia
        {
        color: green
        }
        
.specify
        {
        color: gray;
        }
        
#liste .definisjon
    {
    width: 40em;
    }