/* 
KSR: 2011.10.04: list-style: alpha, roman and simple
KSR: 2011.09.26: hi-element
*/

.mainTxr, .mainTxr .toc, .mainTxr .head
        {
        line-height: 1.5em;
        font-family: georgia, garamond, serif;
        }

.mainTxr
        {
        line-height: 1.4em;
        font-size: 0.8em;
        }
        
.mainTxr a.toc
        {
        text-decoration: none;
        color: #000000;
        }
       

.mainTxr a.toc:hover
        {
        color: #006633;
        }
        
.mainTxr .author
        {
        text-align: center;
        font-size: 0.6em;
        margin: 1em 0; 
        }

        
.mainTxr .bold
        {
        font-weight: bold;
        }
        
.mainTxr .cell
        {
        margin: 0em 3em 0em 3em;
        }

.mainTxr .center
        {
        text-align: center;
        }

.mainTxr .div
        {
        text-align: justify;
        }

.mainTxr .editor
        {
        text-align: left;
        }

.mainTxr .firstIndent
        {
        margin: 1em 0em 1em 0em;
        }

.mainTxr .fwLongLine
        {
        width: 5em;
        }

.mainTxr .fwShortLine
        {
        width: 3em;
        }

/* indhold hyperlink start */

mainTxr a.app 
        {
        color: green;
        font-size: 100%;
        text-decoration: none;
        }

div.appInvisible
         {
         display: none;
         font-size: 100%;
         line-height: 100%;
         margin: 0.5em 0em 1em 1em;
         text-align: justify;
         }

.plus
          {
          background-color: none;
          color: green;
          cursor: pointer;
          font-family: "Georgia";
          text-align: center;
          }

.mainTxr .toc
        {
        text-align: left;
        font-size: 100%;
        margin: 0em;
        margin-left: 1em;
        }
 .toc a
        {
        color: #4DBC4D;
        }
        
.toc a:hover
        {
        color: #4DBC4D;
        text-decoration: underline;
        cursor: pointer;
        }
        
.mainTxr .head
        {
        font-size: 150%;
        text-align: center;
        margin: 1em 0em 1em 0em;
        line-height: 1.2em;
        }

.mainTxr .div .head
        {
        font-size: 144%;
        text-align: center;
        margin: 1em 0em 1em 0em;
        }

.mainTxr .div .div .head
        {
        font-size: 120%;
        text-align: center;
        margin: 2em 0em 1em 0em;
        }

/* indhold hyperlink end */

/* element hi start */

.mainTxr .lowered
        {
        font-size: 80%;
        vertical-align: sub;
        }

.mainTxr .raised
        {
        font-size: 80%;
        vertical-align: super;
        }

.mainTxr .initial
        {
        font-style: normal;
        font-size: 120%;
        }

.mainTxr .italic
        {
        font-style: italic;
        }

.mainTxr .litList
        {
        list-style: circle;
        }

.mainTxr .item
        {
        margin: 1em 1em 1em 1em;
        }

.mainTxr .justify
        {
        text-align: justify;
        }

.mainTxr .left
        {
        text-align: left;
        }

/* element h start */

.mainTxr h2
        {
        font-size: 120%;
        margin: 0em 0em 0em 2em;
        margin-bottom:1em;
        margin-left:0.5em;
        margin-right:0;
        margin-top:0;
        }

/* element h start */

/* element hi end */

.mainTxr .lgNumber
        {
        font-size: 100%;
        margin-left: 10px;
        }

.mainTxr .lg
        {
        text-align: left;
        margin: 2em 2em 2em 2em;
        }

/* list start */

.mainTxr .litList
        {
        list-style: circle;
        }

.mainTxr .decimal
        {
        list-style-type: decimal;
        margin: 1em;
        }

.mainTxr .upperAlpha
        {
        list-style-type: upper-alpha;
        margin: 1em;
        }

.mainTxr .lowerAlpha
        {
        list-style-type: lower-alpha;
        margin: 1em;
        }

.mainTxr .upperRoman
        {
        list-style-type: upper-Roman;
        margin: 1em;
        }

.mainTxr .lowerRoman
        {
        list-style-type: lower-roman;
        margin: 1em;
        }

.mainTxr .simple
        {
        list-style-type: circle;
        margin: 1em;
        }

.mainTxr .subSimple
        {
        list-style-type: circle;
        margin: 0.5em 0.5em 0.5em 1em;
        }

.mainTxr .ordered
        {
        list-style-type: circle;
        margin: 1em;
        }

.mainTxr .textualCriticism
        {
        list-style-type: circle;
        margin: 1em;
        }
        
/* list END */

.mainTxr .noIndent
        {
        text-indent: 0em;
        text-align: justify;
        }

.mainTxr .pageNumber
        {
        text-align: justify;
        margin-right: 50px;
        margin-left: 50px;
        margin: 4em 4em 4em 4em;
        }

/* element p start */

.mainTxr .p
        {
        margin: 2em 2em 2em 2em;
        }
        
.mainTxr .readMore
        {
        margin: 2em 2em 2em 2em;
        }

.mainTxr .right
        {
        text-align: right;
        }

/* element p end */

.mainTxr .romanType
        {
        font-family: arial;
        }

.mainTxr .secondIndent
        {
        text-indent: 4em;
        text-align: justify;
        }

.mainTxr .spaceOne
        {
        line-height: 200%;
        }
        
.mainTxr .spaceTwo
        {
        line-height: 300%;
        }

.mainTxr .quote, .unQuote
        {
        margin: 1em 0em 1em 0em
        }

/* element table start */



.mainTxr table, tr, td
        {
        border: 0px solid black;
        padding: 5px;
        }
        
.mainTxr td
        {
        width: auto
        }

/* element table end */

.mainTxr .titlePage
        {
        margin-right: 50px;
        margin-left: 50px;
        }

.mainTxr .witness
        {
        margin-left: 50px; 
        }

/*<span style="width:50px;display:block;float:left;">Tel.</span>*/

.mainTxr .witnessXmlId
        {
        font-style: italic;
        width: 50px;
        display: block;
        float: left; 
        }