/* txtCSS.css til styling af tekster */
/* KSR: 2011.09.05 */

span.uncertain
        {
        border-bottom: 1px dotted;
        }

.highlight
        {
        background: #FFFF40;        
        }

.lowlight
        {
        background: #FFFF40;        
        }
        
/* list START */

ul      
        {
        margin: 1em 0em 1em 2em
        }



#tekst_innhold li.bogstaver
        {
        list-style-type: none;
        }


#tekst_innhold li.decimal
        {
        list-style-type: decimal;
        }
        
#tekst_innhold li.ordered
        {
        list-style-type: circle;
        }
        
#tekst_innhold li.simple
        {
        list-style-type: circle;
        }
        
#tekst_innhold li.lowerAlpha
        {
        list-style-type: lower-alpha;
        }
        
#tekst_innhold li.noDot
        {
        list-style-type: none;
        text-indent: -1em;
        }

/* list END */

/* fodnoter START */

#tekst_innhold a.footMarker 
        {
        font-size: 80%;
        text-decoration: none;
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
        }

/* fodnoter END */

/* tekstkritisk apparat START */

#tekst_innhold a.app 
        {
        color: black;
        text-decoration: none;
        }

#tekst_innhold span.appInvisible
        {
        font-size: 100%;
        display: none;
        }

#tekst_innhold .app:hover 
         {
         color: blue;
         }

#tekst_innhold .app:hover .appInvisible
        {
        display: inline;
        margin: 0 !important;
        padding: 0 !important;
        }

#tekst_innhold .lem
        {
        color: gray;
        }

#tekst_innhold .rdg
        {
        margin: 0 !important;
        padding: 0 !important;
        }

#tekst_innhold span.rotate
        {
        font-size: 100%;
        display: inline-block;
        -ms-transform: rotate(180deg);/*IE9*/
        -webkit-transform: rotate(180deg);/*Chrome, Safari, Opera, Firefox*/
        transform: rotate(180deg);
        margin: 0em 0em 0em 0em !important;
        padding: 0em 0em 0em 0em !important;
        vertical-align: baseline;
        position: relative;        
        }

/* tekstkritisk apparat END */

/* title hi START */
        
.boldTitle
        {
        font-weight: bold;
        }

.italicTitle
        {
        font-style: italic
        }
        
.raisedTitle
        {
        font-size: 70%;
        vertical-align: super;
        }

/* title hi END */

/* kolofonblad start */

#tekst_innhold .kolofonBlad
        {
        margin: 2.5em
        }

#tekst_innhold .kolofon, .copyright
        {
        margin: 0.5em;
        }

#tekst_innhold .kolofonTitle
        {
        margin: 0.5em;
        }
        
#tekst_innhold table, #tekst_innhold td    
        {            
        padding-right: 0.5em;
        padding-left: 0em;
        }

#tekst_innhold .desc
        {
        font-style: italic;
        font-size: 16px;
        }

#tekst_innhold .descList
        {
        font-style: italic;
        margin-left: -1.5em;
        }

#tekst_innhold .num, #tekst_innhold .vol
        {
        font-style: normal;
        }

#tekst_innhold td.sigel
        {
        font-style: italic;
        text-align: left;
        vertical-align: super;
        width: 2em;
        }
        
#tekst_innhold td.source
        {
        text-align: left;
        width: 30em;
        }

/* kolofonblad end 

#tekst_innhold .center
        {
        text-align: center;
        }*/

/* proverb START  */


#tekst_innhold .hangingIndentPro
        {
        line-height: 200%;
        text-align: justify;
        text-indent: -1em;
        padding-left: 2em;
        }

#tekst_innhold table.proverb
        {
        font-size: inherit;
        line-height: 200%;
        }

#tekst_innhold td.proverbNo
        {
        text-indent: -2.5em;
        width: 2.5%;
        }

#tekst_innhold td.proverb
        {
        color: black;
        text-indent: -2em;
        padding-left: 2em;
        }

/* proverb END */

#tekst_innhold .editionPhilologist
        {
        margin-left: 50px;
        }

#tekst_innhold .emendation
        {
        text-align: justify;
        margin-right: 50px;
        margin-left: 50px;
        margin: 2em 2em 2em 2em;
        }

/* p indent START */
        
#tekst_innhold div.firstIndent
        {
        color: black;
        margin: 0em;
        line-height: 1.5em;
        text-indent: 1em;
        text-align: justify;
        }
        
/* quote START */
        
#tekst_innhold div.quote
        {
        font-size: 16px;
        margin: 1em 2em 1em 2em;
        text-align: justify;
        }
        
#tekst_innhold div.quoteFirstIndent
        {
        font-size: 16px;
        margin: 1em 2em 1em 2em;
        text-indent: 2em;
        text-align: justify;
        }
        
#tekst_innhold div.quoteSecondIndent
        {
        font-size: 16px;
        margin: 1em 2em 1em 2em;
        text-indent: 4em;
        text-align: justify;
        }
        
#tekst_innhold div.quoteThirdIndent
        {
        font-size: 16px;
        margin: 1em 2em 1em 2em;
        text-indent: 6em;
        text-align: justify;
        }
        
/* quote END */

#tekst_innhold div.noIndent
        {
        color: black;
        margin: 0em;
        line-height: 1.5em;
        text-indent: 0em;
        text-align: justify;
        }

#tekst_innhold div.firstIndentRight
        {
        margin-right: 2em;
        text-align: right;
        }
        
#tekst_innhold div.secondIndentRight
        {        
        margin-right: 4em;
        text-align: right;
        }
        
#tekst_innhold div.thirdIndentRight
        {        
        margin-right: 8em;
        text-align: right;
        }

/* indent p END */
        
#tekst_innhold .footnote
        {
        font-size: 80%;
        margin: 1em 0em 1em 2em;
        }
        
a.endNoteRef
        {
        color: green;
        cursor: pointer;
        font-size: 80%;
        text-decoration: none;
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
        }

/* marginNote START */
                 
#tekst_innhold .chapter
        {
        margin: 0px 34px;
        }
                 
#tekst_innhold .chapterRomanType
        {
        margin: 0px 34px;
        font-family: arial;
        }

#tekst_innhold .mainColumn
        {
        padding-right: 16px;
        }

#tekst_innhold .marginNote
        {
        font-size: 56%;
        margin: 0px -70px 0 10px;
        text-indent: 0;
        text-align: left;
        width: 40px;
        float: right;
        }

/* marginNote END*/


#tekst_innhold .footLine
        {
        color: blue;
        text-align: left;
        margin: 1em auto 0 0;
        width: 4em;
        }

#tekst_innhold .engraver
        {
        font-size: 80%;
        margin: 2em 0em 2em 0em;
        text-align: center;
        }

#tekst_innhold .fwLongLine
        {
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .fwShortLine
        {
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .hangingIndent
        {
        text-indent: -1em;
        padding-left: 1em;
        }

/* grapic START */

#tekst_innhold .blank, #tekst_innhold .longLine, #tekst_innhold .shortLine, #tekst_innhold .cross
        {
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .cross
        {
        font-size: 150%;
        text-align: center
        }

#tekst_innhold .asteriskDown, #tekst_innhold .asteriskUp
        {
        text-align: center;
        }

#tekst_innhold .asteriskDown
        {
        margin: 1em 0em 0em 0em;
        }

#tekst_innhold .asteriskUp
        {
        margin: 1em 0em 0em 1em;
        }

/* grapic END */
        
/* head start */

#tekst_innhold div.center
        {
        text-align: center;
        margin: 0em 0em 0em 0em;
        }

#tekst_innhold .head0, .head1, .head2, .head3, .head4, .head5, .head6   
        {
        text-align: center;
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .head0
        {
        font-size: 100%;
        }

#tekst_innhold .head1
        {
        font-size: 120%;
        }

#tekst_innhold .head2
        {
        font-size: 144%;
        }

#tekst_innhold .head3
        {
        font-size: 173%;
        }

#tekst_innhold .head4
        {
        font-size: 207%;
        }

#tekst_innhold .head5
        {
        font-size: 248%;
        }

#tekst_innhold .head6
        {
        font-size: 298%;
        }

#tekst_innhold .head0hangingIndent, .head1hangingIndent, .head2hangingIndent, .head3hangingIndent, .head4hangingIndent, .head5hangingIndent, .head6hangingIndent   
        {
        margin: 2em 0em 2em 1em;
        text-align: justify;
        text-indent: -1em;
        }

#tekst_innhold .head0hangingIndent
        {
        font-size: 100%;
        }

#tekst_innhold .head1hangingIndent
        {
        font-size: 120%;
        }

#tekst_innhold .head2hangingIndent
        {
        font-size: 144%;
        
        }

#tekst_innhold .head3hangingIndent
        {
        font-size: 173%;
        }

#tekst_innhold .head4hangingIndent
        {
        font-size: 207%;
        }

#tekst_innhold .head5hangingIndent
        {
        font-size: 248%;
        }

#tekst_innhold .head6hangingIndent
        {
        font-size: 298%;
        }

#tekst_innhold .headlg
        {
        text-align: center;
        }

/* head end */

/* hi rend START */

#tekst_innhold .bold
        {
        font-weight: bold;
        }

#tekst_innhold .spaced > .initial
        {
        font-style: italic;
        font-size: 120%;
        }

#tekst_innhold .initial
        {
        font-style: normal;
        font-size: 120%;
        }

#tekst_innhold .schwabInitial
        {
        font-style: italic;
        font-size: 120%;
        }

#tekst_innhold .italic
        {
        font-style: italic;
        }

#tekst_innhold .plain
        {
        font-style: normal;
        }

#tekst_innhold .spaced
        {
        font-style: italic;
        }

#tekst_innhold .spacedSic
        {
        letter-spacing: 2px;
        }

#tekst_innhold .lowered
        {
        font-size:80%;
        }

#tekst_innhold .schwab
        {
        font-weight: bold;
        }

#tekst_innhold .schwabInitial
        {
        font-style: italic;
        }

#tekst_innhold .size1
        {
        font-size: 110%;
        }

#tekst_innhold .justify
        {
        text-align: justify;
        }

#tekst_innhold .largeCaps
        {
        text-transform: uppercase;
        }

/* hi rend END*/
        
/* indrykning lyrik START*/
        
#tekst_innhold .l_center
        {
        text-align: center;
        }

#tekst_innhold .l_hangingIndent
        {
        text-align: justify;
        text-indent: -1em;
        padding-left: 1em;
        }
        
#tekst_innhold .l_right
        {
        text-align: right;
        }

#tekst_innhold .l_firstIndent
        {
        text-indent: 1em;
        text-align: justify;
        }
        
#tekst_innhold .l_firstIndentRight
        {
        margin-right: 1em;
        text-align: right;
        }

#tekst_innhold .l_interRefrain
        {
        text-indent: 2em;
        text-align: justify;
        }
        
#tekst_innhold .l_refrain
        {
        margin-left: -1em;
        }

#tekst_innhold .l_secondIndent
        {
        text-indent: 2em;
        text-align: justify;
        }

#tekst_innhold .l_secondIndentRight
        {
        margin-right: 2em;
        text-align: right;
        }

#tekst_innhold .l_thirdIndent
        {
        text-indent: 4em;
        text-align: justify;
        }

#tekst_innhold .l_thirdIndentRight
        {
        margin-right: 3em;
        text-align: right;
        }

#tekst_innhold .l_fourthIndent
        {
        text-indent: 6em;
        text-align: justify;
        }

#tekst_innhold .l_varRefrain
        {
        text-indent: -1em;
        }
        

        
#tekst_innhold .l_noIndent, #tekst_innhold .l_center, #tekst_innhold .l_hangingIndent, #tekst_innhold .l_right, #tekst_innhold .l_firstIndent
        {
        width: 25em;
        }

#tekst_innhold .l_noIndent
        {
        text-align: left;
        }
        
#tekst_innhold .l_center
        {
        text-align: center;
        }

#tekst_innhold .l_hangingIndent
        {
        text-align: justify;
        text-indent: -1em;
        padding-left: 1em;
        }
        
#tekst_innhold .l_right
        {
        text-align: right;
        }

#tekst_innhold .l_firstIndent
        {
        text-indent: 1em;
        text-align: justify;
        }
        
#tekst_innhold .l_firstIndentRight
        {
        margin-right: 1em;
        text-align: right;
        }

#tekst_innhold .l_interRefrain
        {
        text-indent: 2em;
        text-align: justify;
        }
        
#tekst_innhold .l_refrain
        {
        margin-left: -1em;
        }

#tekst_innhold .l_secondIndent
        {
        text-indent: 2em;
        text-align: justify;
        }

#tekst_innhold .l_secondIndentRight
        {
        margin-right: 2em;
        text-align: right;
        }

#tekst_innhold .l_thirdIndent
        {
        text-indent: 3em;
        text-align: justify;
        }

#tekst_innhold .l_thirdIndentRight
        {
        margin-right: 3em;
        text-align: right;
        }

#tekst_innhold .l_fourthIndent
        {
        text-indent: 4em;
        text-align: justify;
        }

#tekst_innhold .l_varRefrain
        {
        text-indent: -1em;
        }

/* indrykning lyrik END*/

/* to ord i samme linje START */

#tekst_innhold table.wordBox
        {
        font-size: 70%;
        margin-left: -2em;
        margin-top: 0em;
        margin: 2em 0em 2em 0em;
        width: 100%;
        }

#tekst_innhold span.wordBox
        {
        margin: 0em 2em 2em 0em;
        }

#tekst_innhold span.wordContainer
        {
        margin:  2em 0.5em 0em 0em;
        position: relative;
        display: inline-block;
        width: 55px;
        top: -30px;
        }
        
#tekst_innhold span.top
        {
        position: absolute;
        top: 0px;
        }

#tekst_innhold span.down
        {
        position: absolute;
        top: 15px;
        }
        
#tekst_innhold span.down:after
        {
        content: "}";
        margin-left: 6px;
        font-size: 180%;
        top: -5px;
        position: relative;
        }
        
/* to ord i samme linje END */

#tekst_innhold .lgNumber
        {
        font-size: 80%;
        margin-left: -3em;
        }

#tekst_innhold .lNumber
        {
        color: gray;
        font-size: 80%;
        margin-left: -2em;
        }

#tekst_innhold .left
        {
        text-align: left;
        }

#tekst_innhold .l_firstIndent
        {
        text-indent: 1em;
        }

#tekst_innhold .numberColor
        {
        color: gray;
        }

#tekst_innhold .numberColorFirst
        {
        color: red;
        }

#tekst_innhold .numberFirstIndent
        {
        text-indent: 1em;
        }

#tekst_innhold .l_secondIndent
        {
        text-indent: 2em;
        }

#tekst_innhold .l_thirdIndent
        {
        text-indent: 4em;
        }

#tekst_innhold table.lg
        {
        font-size: 70%;
        margin-left: -2em;
        margin-top: 0em;
        margin: 1em 0em 1em 0em;
        width: 100%;
        }
        
#tekst_innhold td.lgNumber
        {
        font-size: 100%;
        color: gray;
        width: 10%;
        text-indent: -3em;
        }

#tekst_innhold td.lg
        {
        font-size: 16px;
        line-height: 150%;
        margin: 2em 2em 2em 3em;
        text-align: left;
        }

#tekst_innhold .lg
        {
        text-align: left;
        margin: 2em 2em 2em 2em;
        }

/* table index START */

a.index
        {
        cursor: pointer
        }

a:link.index
        {
        color: #000000; /* unvisited link */
        text-decoration: none;
        }    
        
a:visited.index
        {
        color: #000000; /* visited link */
        } 
        
a:hover.index
        {
        color: #4DBC4D; /* mouse over link */
        }   
        
a:active.index
        {
        color: #0000FF; /* selected link */
        }

#tekst_innhold table.index
        {
        border-collapse: collapse;
        empty-cells: show;
        font-size: 100%;
        margin: 2em 0em 0em 0em;
        width: 100%;
        }

#tekst_innhold table.index, #tekst_innhold tr.index, #tekst_innhold td.index
        {
        border: 0px solid black;
        padding: 10px;
        }

#tekst_innhold .hangingIndentIndex
        {
        text-indent: -2em;
        padding-left: 10px;
        }

#tekst_innhold tr.head
        {
        border: 0px solid black;
        font-size: 120%;
        text-align: center;
        padding: 10px;
        }

/* table index END */

/* table index rendition="21" START */

#tekst_innhold tr.head > td.index21
        {
        border: 0px solid black;        
        text-align: center;
        padding: 10px;
        }

#tekst_innhold td.index21hangingIndent
        {
        border: 0px solid black;
        padding: 0px 15px 0px 15px;
        text-align: justify;
        text-indent: -2em;
        }

#tekst_innhold td.index21:nth-child(1)
        {
        border: 0px solid black;        
        text-align: left;
        padding: 10px;
        width: 85%;
        }

#tekst_innhold td.index21:nth-child(2)
        {
        border: 0px solid black;        
        text-align: right;
        padding: 10px;
        width: 15%;
        }

/* table index rendition="21" END */

/* table index rendition="31" START */

#tekst_innhold tr.head > td.index31
        {
        border: 0px solid black;        
        text-align: center;
        padding: 10px;
        }

#tekst_innhold td.index31hangingIndent
        {
        border: 0px solid black;
        padding: 0px 15px 0px 15px;
        text-align: justify;
        text-indent: -2em;
        }

#tekst_innhold td.index31:nth-child(1)
        {
        border: 0px solid black;        
        text-align: left;
        padding: 10px;
        width: 60%;
        }

#tekst_innhold td.index31:nth-child(2)
        {
        border: 0px solid black;        
        text-align: right;
        padding: 10px;
        width: 15%;
        }

#tekst_innhold td.index31:nth-child(3)
        {
        border: 0px solid black;        
        text-align: right;
        padding: 10px;
        width: 15%;
        }

/* table index rendition="31" END */

/* table index rendition="32" START */

#tekst_innhold tr.head > td.index32
        {
        border: 0px solid black;
        text-align: center;
        padding: 10px;
        }

#tekst_innhold td.index32:nth-child(1)
        {
        border: 0px solid black;        
        text-align: left;
        padding: 10px;
        width: 15%;
        }

#tekst_innhold td.index32:nth-child(2)
        {
        border: 0px solid black;        
        text-align: left;
        padding: 10px;
        width: 60%;
        }

#tekst_innhold td.index32:nth-child(3)
        {
        border: 0px solid black;        
        text-align: right;
        padding: 10px;
        width: 15%;
        }

/* table index rendition="32" END */

/* table index rendition="33" START */

#tekst_innhold tr.head > td.index33
        {
        border: 0px solid black;        
        text-align: center;
        padding: 10px;
        }

#tekst_innhold td.index33:nth-child(1)
        {
        border: 0px solid black;        
        text-align: left;
        padding: 10px;
        width: 15%;
        }

#tekst_innhold td.index33:nth-child(2)
        {
        border: 0px solid black;        
        text-align: left;
        padding: 10px;
        width: 15%;
        }

#tekst_innhold td.index33:nth-child(3)
        {
        border: 0px solid black;        
        text-align: right;
        padding: 10px;
        width: 60%;
        }

/* table index rendition="33" END */

/* table type subscription START */

#tekst_innhold table.subscription
        {
        border-collapse: collapse;
        empty-cells: show;
        font-size: 100%;
        margin: 2em 0em 0em 0em;
        width: 100%;
        }

#tekst_innhold table.subscription, #tekst_innhold tr.subscription, #tekst_innhold td.subscription
        {
        border: 0px solid black;        
        text-align: center;
        padding: 10px;
        }

#tekst_innhold tr.subscription
        {
        font-size: 14px;
        line-height: 100%;
        }

#tekst_innhold tr.subscription:nth-child(3) > td.subscription
        {
        height: 40em;
        }

#tekst_innhold td.subscription
        {
        margin-left: -2em;
        }

/* table type subscription END */

/* table synopsis START */

#tekst_innhold table.synopsis
        {
        border-collapse: collapse;
        empty-cells: show;
        font-size: 100%;
        margin: 2em 0em 0em 0em;
        width: 100%;
        }

#tekst_innhold table.synopsis, #tekst_innhold tr.synopsis, #tekst_innhold td.synopsis
        {
        border-collapse: collapse;
        border: 0px solid black;
        text-align: left;
        padding: 2px;
        }

/* table synopsis END */

/* table plain START */

#tekst_innhold table.plain
        {
        border-collapse: collapse;
        empty-cells: show;
        font-size: 100%;
        margin: 2em 0em 0em 0em;
        width: 100%;
        }

#tekst_innhold table.plain, #tekst_innhold tr.plain, #tekst_innhold td.plain
        {
        border-collapse: collapse;
        border: 0px solid black;
        text-align: left;
        padding: 2px;
        width: 100%;
        }

#tekst_innhold table.plain, #tekst_innhold tr.plain, #tekst_innhold td.plainCenter
        {
        border-collapse: collapse;
        border: 0px solid black;
        text-align: center;
        padding: 2px;
        width: 100%;
        }

#tekst_innhold table.plain, #tekst_innhold tr.plain, #tekst_innhold td.plainRight
        {
        border-collapse: collapse;
        border: 0px solid black;
        text-align: right;
        padding: 2px;
        width: 100%;
        }

/* table plain END */
        
#tekst_innhold div.motto
        {
        font-size: 80%;
        line-height: 100%;
        margin: 3em;
        }

#tekst_innhold .pageNumber
        {
        text-align: justify;
        margin-right: 50px;
        margin-left: 50px;
        margin: 4em 4em 4em 4em;
        }

#tekst_innhold span.pbSize
        {
        font-size: 70%;
        }

#tekst_innhold .pbA
        {
        font-weight: bold;
        }

#tekst_innhold .pbA, .pbGskv, .pbGSV, .pbSS
        {
        font-size: 80%;
        color: #008000;
        }

#tekst_innhold .pbSV, .pbSV1, .pbSV2, .pbSV3, .pbSV4, .pbSV5, .pbSV6, .pbSV7, .pbSV8, .pbSV9, .pbSV10
        {
        font-size: 80%;
        color: #008000;
        }

#tekst_innhold .pbUS, .pbUS1, .pbUS2, .pbUS3, .pbUS4, .pbUS5, .pbUS6, .pbUS7, .pbUS8, .pbUS9, .pbUS10
        {
        font-size: 80%;
        color: #008000;
        }

#tekst_innhold .pbPS, .pbPS1, .pbPS2, .pbPS3, .pbPS4, .pbPS5, .pbPS6, .pbPS7, .pbPS8, .pbPS9, .pbPS10 
        {
        font-size: 80%;
        color: #008000;
        }

#tekst_innhold .pbVU, .pbVU1,.pbVU2, .pbVU3, .pbVU4, .pbVU5, .pbVU6, .pbVU7, .pbVU8, .pbVU9, .pbVU10
        {
        font-size: 80%;
        color: #008000;
        }

#tekst_innhold .preFace
        {
        text-align: justify;
        margin-right: 150px;
        margin-left: 150px;
        margin: 4em 4em 4em 4em;
        }

#tekst_innhold .raised
        {
        font-size: 70%;
        vertical-align: super;
        }

#tekst_innhold .right
        {
        text-align: right;
        }

#tekst_innhold .romanType
        {
        font-family: arial;
        font-size: 90%;
        }

#tekst_innhold .secondIndent
        {
        text-indent: 4em;
        text-align: justify;
        }

#tekst_innhold .size-2
        {
         font-size: 80%;
        }

#tekst_innhold .size-1
        {
         font-size: 90%;
        }

#tekst_innhold div.spaceOne, #tekst_innhold div.spaceTow
        {
        text-align: justify;
        }

#tekst_innhold div.centerSpaceOne, #tekst_innhold div.centerSpaceTow
        {
        margin: 2em 0em 2em 0em;
        text-align: center;
        }

#tekst_innhold div.spaceOne, #tekst_innhold div.centerSpaceOne
        {
        line-height: 200%;
        text-align: center;
        }
        
#tekst_innhold div.spaceTwo, #tekst_innhold div.centerSpaceTwo
        {
        line-height: 300%;
        text-align: center;
        }

/* titlePage START */

#tekst_innhold .titlePage
        {
        margin: 1em 0em 0em 1em;
        }

#tekst_innhold .dustTitlePage
        {
        margin: 6em 0em 2em 0em;
        }

#tekst_innhold .titlePageMain
        {
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .titlePagePart
        {
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .titlePartMain, .titlePartPart
        {        
        margin: 0.5em 0em 0.5em 0em;
        text-align: center;
        }

#tekst_innhold .titlePartMain
        {
        font-size: 140%;
        font-weight: bold;
        line-height: 200%;
        }

#tekst_innhold .titlePartPart
        {
        font-size: 120%;
        font-weight: normal;
        line-height: 150%;
        }

#tekst_innhold .docTitle
        {
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .byline
        {
        font-size: 100%;
        margin: 2em 0em 2em 0em;
        text-align: center;
        }

#tekst_innhold .docAuthor
        {
        font-size: 120%;
        text-align: center;
        }

#tekst_innhold .noteProf
        {
        font-size: 80%;
        text-align: center;
        }
        
#tekst_innhold .docImprint
        {
        font-size: 80%;
        margin: 2em 0em 2em 0em;
        text-align: center;
        }
        
#tekst_innhold .docEdition
        {
        font-size: 100%;
        margin: 2em 0em 2em 0em;
        text-align: center;
        }

#tekst_innhold .epigraph
        {
        font-size: 80%;
        }

#tekst_innhold .epigraphCenter
        {
        text-align: center;
        font-size: 80%;
        }

#tekst_innhold .epigraphRight
        {
        text-align: right;
        font-size: 80%;
        }

#tekst_innhold .epigraphLeft
        {
        text-align: left;
        font-size: 80%;
        }

#tekst_innhold div.pubPlace
        {
        text-align: center;
        font-size: 80%;
        }

#tekst_innhold div.left
        {
        text-align: left;
        font-size: 80%;
        }

#tekst_innhold div.right
        {
        text-align: right;
        font-size: 80%;
        }
        
#tekst_innhold .lg
        {
        line-height: inherit;
        }

#tekst_innhold div.frontChapter > #tekst_innhold div.right
        {
        margin-left: -1em 7.5em 0em 0em;
        line-height: inherit;
        }

#tekst_innhold div.frontChapter > #tekst_innhold div.firstIndentRight
        {
        margin: -1em 5em 0em 0em;
        line-height: inherit;
        }

#tekst_innhold div.frontChapter > #tekst_innhold div.secondIndentRight
        {
        margin: 0em 2.5em 0em 0em;
        line-height: inherit;
        }

#tekst_innhold div.frontChapter > #tekst_innhold div.center
        {
        margin: -1em 0em 0em 0em;
        text-align: center;
        }
         
#tekst_innhold div.frontChapter > #tekst_innhold div1.illustrator
        {
        font-size: 80%;
        line-height: 100%;
        }

/* titlePage END */

/* rs START 

#tekst_innhold a.bible, #tekst_innhold a.bibleStart, #tekst_innhold a.bibleEnd
        {
        color: #000000;
        text-decoration: none;
        cursor: help;
        }*/

/* rs END*/

#tekst_innhold a:link.bible
        {
        color: #4DBC4D;
        text-decoration: none;
        cursor: help;
        }*

#tekst_innhold .witness
        {
        margin-left: 50px; 
        }
        
#tekst_innhold .witnessXmlId
        {
        font-style: italic;
        width: 50px;
        display: block;
        float: left;
        }
        
/* drama START */

#tekst_innhold .set_center, #tekst_innhold .set_firstIndent, #tekst_innhold .set_noIndent, #tekst_innhold .set_right
        {
        font-size: 100%;
        line-height: 125%;
        margin: 1em 0em 1em 0em;
        width: 100%;
        }
        
#tekst_innhold .set_center
        {
        text-align: center;
        }
        
#tekst_innhold .set_firstIndent
        {
        text-indent: 1em;
        }
        
#tekst_innhold .set_noIndent
        {
        text-indent: 0em;
        }
        
#tekst_innhold .set_right
        {
        text-align: right;
        }

#tekst_innhold table.cast
        {
        empty-cells: show;
        font-size: 100%;
        width: 100%;
        }

#tekst_innhold div.cast
        {
        font-size: 120%;
        margin: 1em 0em 1em 0em;
        text-align: center;
        }

#tekst_innhold table.cast, #tekst_innhold tr.row.cast, #tekst_innhold td.role, #tekst_innhold td.abb, #tekst_innhold td.roleDesc
        {
        border: 0px solid black;
        }

#tekst_innhold td.role, #tekst_innhold td.abb, #tekst_innhold td.roleDesc
        {
        text-align: left;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        }

#tekst_innhold td.role
        {
        width: auto;
        }

#tekst_innhold td.abb
        {
        width: 5%;
        }

#tekst_innhold td.descRole
        {
        width: 55%;
        }
        
#tekst_innhold .image_head
        {
        font-weight:bold;
        padding-top: 30px;
        padding-bottom: 7px;
        }

#tekst_innhold .image_desc
        {
        font-style:italic;
        padding-bottom: 15px; 
        }


/* drama END */

/* figure/illustationer START */

#tekst_innhold div.imageMyth
        {
        border: 0px solid black;
        margin: 1em 0em 2em 0em;
        height: 100%;
        padding: 5px;
        width: 100%;
        }
    
.pdf        {background-image: url(../img/pdficon_small.png);
             padding-left: 20px;
             background-repeat: no-repeat;
             background-position: left center;}

.pdf
    {
    background-image: url(../img/pdficon_small.png);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    }

/* figure/illustationer END */


/* back START */

/* table corrigenda START */

#tekst_innhold table.corrigenda
        {
        border: 0px solid black;
        empty-cells: show;
        margin-top: 2em;
        padding-right: 0.5em;
        padding-left: 0em;
        width: 100%;
        }

#tekst_innhold tr.corrigenda
        {
        border: 0px solid black;
        margin-top: 2em;
        padding-right: 0.5em;
        padding-left: 0.5em;
        }

/* table corrigenda33 START */

#tekst_innhold td.corrigenda33:nth-child(1)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 15%;
        }

#tekst_innhold td.corrigenda33:nth-child(2)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 15%;
        }

#tekst_innhold td.corrigenda33:nth-child(3)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 70%;
        }

/* table corrigenda33 END */

/* table corrigenda44 START */

#tekst_innhold td.corrigenda44:nth-child(1)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 10%;
        }

#tekst_innhold td.corrigenda44:nth-child(2)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 10%;
        }

#tekst_innhold td.corrigenda44:nth-child(3)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 10%;
        }

#tekst_innhold td.corrigenda44:nth-child(4)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 60%;
        }

/* table corrigenda44 END */

/* table corrigenda55 START */

#tekst_innhold td.corrigenda55 > .spaced
        {
        font-style: italic;
        }

#tekst_innhold td.corrigenda55:nth-child(1)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 8%;
        }

#tekst_innhold td.corrigenda55:nth-child(2)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 11%;
        }

#tekst_innhold td.corrigenda55:nth-child(3)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 8%;
        }

#tekst_innhold td.corrigenda55:nth-child(4)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 16%;
        }

#tekst_innhold td.corrigenda55:nth-child(5)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 65%;
        }

/* table corrigenda55 END */

/* table corrigenda66 START */

#tekst_innhold td.corrigenda66 > .spaced
        {
        font-style: italic;
        }

#tekst_innhold td.corrigenda66:nth-child(1)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 8%;
        }

#tekst_innhold td.corrigenda66:nth-child(2)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 8%;
        }

#tekst_innhold td.corrigenda66:nth-child(3)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 8%;
        }

#tekst_innhold td.corrigenda66:nth-child(4)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 16%;
        }

#tekst_innhold td.corrigenda66:nth-child(5)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 16%;
        }

#tekst_innhold td.corrigenda66:nth-child(6)
        {
        border: 0px solid black;
        text-align: left;
        padding: 5px;
        width: 65%;
        }

/* table corrigenda66 END */

/* table corrigenda END */

/* back END */
