/* txtCSS.css til styling af tekster */
/* KSR: 2011.09.05 */

#tekst_innhold a.app 
        {
        color: black;
        text-decoration: none;
        }

#tekst_innhold span.appInvisible
         {
         display: none;
         }

#tekst_innhold .app:hover 
         {
         color: blue;
         }

#tekst_innhold .app:hover .appInvisible
        {
        display: inline;
        }

#tekst_innhold .lem
        {
        color: gray;
        }

        
        
/* kolofonblad start */

#tekst_innhold .kolofonBlad
        {
        margin: 2.5em
        }

#tekst_innhold .kolofon, .copyright
        {
        margin: 0.5em;
        }

#tekst_innhold .kolofonTitle
        {
        margin: 0.5em;
        }
        
#tekst_innhold table, #tekst_innhold td    
        {
        padding-right: 0.5em;
        padding-left: 0em;
        }

#tekst_innhold td.sigel
        {
        font-style: italic;
        text-align: left;
        vertical-align: super;
        width: 2em;
        }
        
#tekst_innhold td.source
        {
        text-align: left;
        width: 30em;
        }

/* kolofonblad end */

#tekst_innhold .bold
        {
        font-weight: bold;
        }

#tekst_innhold .center
        {
        text-align: center;
        }

#tekst_innhold .editionPhilologist
        {
        margin-left: 50px;
        }

#tekst_innhold .emendation
        {
        text-align: justify;
        margin-right: 50px;
        margin-left: 50px;
        margin: 2em 2em 2em 2em;
        }

#tekst_innhold .firstIndent
        {
        text-indent: 2em;
        text-align: justify;
        }

#tekst_innhold .firstIndentRight
        {
        margin-right: 2em;
        text-align: right;
        }

#tekst_innhold .footnote
        {
        color: blue;
        font-size: 80%;
        margin: 1em 0em 1em 2em;
        }

#tekst_innhold .footLine
        {
        color: blue;
        text-align: left;
        margin: 1em auto 0 0;
        width: 4em;
        }

#tekst_innhold .fwLongLine
        {
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .fwShortLine
        {
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .hangingIndent
        {
        text-indent: -1em;
        padding-left: 1em;
        }

/* head start */

#tekst_innhold .head0, .head1, .head2, .head3, .head4, .head5, .head6   
        {
        text-align: center;
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .head0
        {
        font-size: 100%;
        }

#tekst_innhold .head1
        {
        font-size: 120%;
        }

#tekst_innhold .head2
        {
        font-size: 144%;
        }

#tekst_innhold .head3
        {
        font-size: 172%;
        }

#tekst_innhold .head4
        {
        font-size: 207%;
        }

#tekst_innhold .head5
        {
        font-size: 248%;
        }

#tekst_innhold .head6
        {
        font-size: 298%;
        }

/* head end */

#tekst_innhold .initial
        {
        font-style: normal;
        font-size: 120%;
        }

#tekst_innhold .italic
        {
        font-style: italic;
        }

#tekst_innhold .justify
        {
        text-align: justify;
        }

#tekst_innhold .l_center
        {
        text-align: center;
        }

#tekst_innhold .l_firstIndent
        {
        text-indent: 1em;
        }

#tekst_innhold .l_firstIndentRight
        {
        text-indent: 5em;
        }

#tekst_innhold .l_hangingIndent
        {
        text-indent: hanging;
        }

#tekst_innhold .l_secondIndent
        {
        text-indent: 1.5em;;
        }

#tekst_innhold .l_thirdIndent
        {
        text-indent: 2em;
        }

#tekst_innhold .l_fourthIndent
        {
        text-indent: 2.5em;
        }

#tekst_innhold .l_right
        {
        text-align: right;
        }

#tekst_innhold .l_secondIndentRight
        {
        text-indent: 6em;
        }

#tekst_innhold .l_thirdIndentRight
        {
        text-indent: 7em;
        }

#tekst_innhold .lgNumber
        {
        font-size: 100%;
        margin-left: 10px;
        }

#tekst_innhold .left
        {
        text-align: left;
        }

#tekst_innhold .lfirstIndent
        {
        text-indent: 1em;
        }

#tekst_innhold .lsecondIndent
        {
        text-indent: 2em;
        }

#tekst_innhold .lthirdIndent
        {
        text-indent: 4em;
        }

#tekst_innhold .lg
        {
        text-align: left;
        margin: 2em 2em 2em 2em;
        }

#tekst_innhold .motto
        {
        font-size: 80%;
        line-height: 110%;
        margin: 1em 0em 1em 0em;
        }

#tekst_innhold .noIndent
        {
        text-indent: 0em;
        text-align: justify;
        }

#tekst_innhold .pageNumber
        {
        text-align: justify;
        margin-right: 50px;
        margin-left: 50px;
        margin: 4em 4em 4em 4em;
        }

#tekst_innhold .pbA
        {
        font-weight: bold;
        }

#tekst_innhold .pbA, .pb
        {
        font-size: 80%;
        color: #008000;
        }

#tekst_innhold .preFace
        {
        text-align: justify;
        margin-right: 150px;
        margin-left: 150px;
        margin: 4em 4em 4em 4em;
        }

#tekst_innhold .raised
        {
        font-size: 80%;
        vertical-align: top;
        }

#tekst_innhold .right
        {
        text-align: right;
        }

#tekst_innhold .romanType
        {
        font-family: arial;
        font-size: 80%;
        }

#tekst_innhold .secondIndent
        {
        text-indent: 4em;
        text-align: justify;
        }

#tekst_innhold .size-1
        {
         font-size: 80%;
        }

#tekst_innhold .spaceOne
        {
        line-height: 200%;
        }
        
#tekst_innhold .spaceTwo
        {
        line-height: 300%;
        }

/* titlePage start */

#tekst_innhold .titlePage
        {
        text-align: center;
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .main1,#tekst_innhold .main2,#tekst_innhold .main3,#tekst_innhold .main4,#tekst_innhold .main5,#tekst_innhold .main6
        {
        margin: 2em;
        }
        
#tekst_innhold .main1
        {
        font-size: 110%;
        }

#tekst_innhold .main2
        {
        font-size: 120%;
        }

#tekst_innhold .main3
        {
        font-size: 130%;
        }

#tekst_innhold .main4
        {
        font-size: 140%;
        line-height: 200%;
        }

#tekst_innhold .main5
        {
        font-size: 150%;
        line-height: 200%;
        }

#tekst_innhold .main6
        {
        font-size: 160%;
        line-height: 200%;
        }

#tekst_innhold .part1,#tekst_innhold .part2,#tekst_innhold .part3,#tekst_innhold .part4,#tekst_innhold .part5,#tekst_innhold .part6
        {
        margin: 2em;
        }

#tekst_innhold .part1
        {
        font-size: 110%;
        }

#tekst_innhold .part2
        {
        font-size: 120%;
        }

#tekst_innhold .part3
        {
        font-size: 130%;
        }

#tekst_innhold .part4
        {
        font-size: 140%;
        line-height: 200%;
        }

#tekst_innhold .part5
        {
        font-size: 150%;
        line-height: 200%;
        }

#tekst_innhold .part6
        {
        font-size: 160%;
        line-height: 200%;
        }

#tekst_innhold .docTitle
        {
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .byline
        {
        margin: 2em 0em 2em 0em;
        }

#tekst_innhold .epigraph
        {
        margin: 2em;
        }

/* titlePage end */

#tekst_innhold .witness
        {
        margin-left: 50px; 
        }
        
#tekst_innhold .witnessXmlId
        {
        font-style: italic;
        width: 50px;
        display: block;
        float: left; 
        }