/* varCSS.css til styling af varianter */
/* Kim Steen Ravn
   2011.10.11: testversion
*/

.variantMain a.app
        {
        color: black;
        text-decoration: none;
        }

span.appInvisible
         {
         display: none;
         color: blue;
         }

.variantMain .app:hover
         {
         color: green;
         }

.variantMain .app:hover .appInvisible
        {
        display: inline;
        color: green;
        font-size: 80%;
        }

.variantMain .lem
        {
        color: gray;
        cursor: pointer;
        }

.variantMain .anchor
        {
        color: #4196E1; /*royal blue*/
        }
        
.variantMain .lg
        {
        margin: 1em;
        }

/* var start */

.variantMain .ide
        {
        color: #800080; /*purple*/
        }
        
.variantMain .int
        {
        color: #90EE90; /*light green*/
        }
        
.variantMain .ort
        {
        color: #DDA0DD; /*plum*/
        }
        
.variantMain .sub
        {
        color: #FF00FF; /*fuchsia*/
        }
        
/* var end */

.variantMain .witness
        {
        font-size: 100%;
        }

.variantMain .center
        {
        text-align: center;
        }

.variantMain .head0,variantMain .head1,variantMain .head2,variantMain .head3,variantMain .head4,variantMain .head5,variantMain .head6   
        {
        text-align: center;
        margin: 2em 0em 2em 0em;
        }

.variantMain .head0
        {
        font-size: 100%;
        }

.variantMain .head1
        {
        font-size: 120%;
        }

.variantMain .head2
        {
        font-size: 144%;
        }

.variantMain .head3
        {
        font-size: 172%;
        }

.variantMain .head4
        {
        font-size: 207%;
        }

.variantMain .head5
        {
        font-size: 248%;
        }

.variantMain .head6
        {
        font-size: 298%;
        }
        
.variantMain .head 
        {
        font-weight: bold;
        text-align: center;
        }
        
.variantMain .title 
        {
        font-size: 144%;
        line-height: 100%;
        text-align: center;
        }

.variantMain .source
        {
        font-size: 100%;
        margin: 2em 0em 2em 0em;
        text-align: left;
        }

.variantMain ul.source
        {
        list-style-type: none;
        }
        
.variantMain .italic 
        {
        font-style: italic;
        }

/* footnot start */

.variantMain .footLine
        {
        color: blue;
        text-align: left;
        margin: 1em auto 0 0;
        width: 4em;
        }
        
.variantMain .footnote
        {
        margin: 1em
        }

/* footnote end */
       
/* editor notes START */

.variantMain .editorInLine
        {
        font-size: 12px;
        margin: 0.5em 0em 0.5em 0em;
        }
        
/* editor notes END */