/* varCSS.css til styling af varianter registrant */
/* Kim Steen Ravn
   2011.10.11: testversion
*/

/* Variantoversigt og Registranten */

#theVarList .preFace, #registranten .preFace 
        {
        margin: 1em;
        }
        
#theVarList .head, #registranten .head
        {
        font-weight: bold;
        margin: 1em 0em 0.5em 2em;
        }
        
#theVarList .p, #registranten .p
        {
        margin: 1em;
        }
        
#registranten .table, #registranten td
        {
        border: 1px solid #ccc;
        empty-cells: hide;
        font-size: 10px;
        margin: 0em;
        vertical-align: super;
        background: none;
        }

#theVarList 
        {
            font-size: 16px;
            padding-top:20px;
        }
        
    /* Registranten */
        
#registranten .preFace, #registranten i, #registranten hr, #registranten p {display:none;}     
                
#registranten td
        {
        border: 1px solid #ccc;
        empty-cells: show;
        margin: 2em;
        padding: 10px; font-size: 1.1em;
        vertical-align: super;
        background: none;
        }
                 
#registranten table
        {
        margin: 2em 0;
        border:0;
        }
        
#registranten div.head 
        {
            margin-left:0; margin: 20px 0 10px 0;font-size: 1.2em; font-family: Times new roman;
        }
        
    /* Variantoversigt */
        
#theVarList .philologist, #theVarList .editor, #theVarList .test
        {
        font-size: 12px;
        margin: 0em;
        text-align: center;
        }
        
#theVarList .title
        {
        font-size: 16px;
        margin: -2em 0em 1em 0em;
        text-align: center;
        }
        
#theVarList .test
        {
        font-size: 12px;
        margin: 0em;
        text-align: center;
        }
        
#theVarList .table, #theVarList td
        {
        border: 1px solid #ccc;
        empty-cells: hide;
        font-size: 12px;
        margin: 0em;
        vertical-align: super;
        background: none;
        }