/* varCSS.css til styling af varianter */
/* Kim Steen Ravn
   2011.10.11: testversion
*/



#theVarList .preFace
        {
        margin: 1em;
        }
        
#theVarList  .head
        {
        font-weight: bold;
        margin: 1em 0em 0.5em 2em;
        }
        
#theVarList .p
        {
        margin: 1em;
        }
        
#theVarList .table, #theVarList td
        {
        border: 1px solid black;
        empty-cells: show;
        margin: 2em;
        vertical-align: super;
        background: yellow;
        }