
<div id="footer">
	<div class="container">

		<div id="logo_footer"><a href="#"><img src="img/logo.png" /></a></div>

			<div id="columns">                            
                            <ul id="column2">
                                <li><h2>Registre</h2></li>
                                <li><a href="../reg">Registranten</a></li>
                                <li ><a class="" href="../myter">Mytologisk register</a></li>
                                <li><a href="../personer">Personregister</a></li>
                                <li class=""><a href="../steder">Stedregister</a></li>
                                <li class=""><a href="../bibel">Bibelstedsregister</a></li>
                                <li class=""><a class="" href="../bookinvent">Bogfortegnelse 1805</a></li>
                            </ul>
                            
                            <ul id="column3">
                                <li><h2>Værktøj</h2></li>
                                <li><a href="../tidslinje">Tidslinje</a></li>
                                <li><a href="/kort">Kort</a></li>
                                <li><a href="./avanceret">Avanceret søgning</a></li>
                                <li><a href="./tools">Flere værktøjer</a></li>
                            </ul>
                            
                            <ul id="column3">
                                <li><h2>Om GV</h2></li>
                                <li><a href="/vejledning/kolofon_vej">Medarbejdere</a></li>
                                <li><a href="../vejledning/om_udgaven_vej">Vejledning</a></li>
                            </ul>
                            
                            <ul id="column3">
                                <li><h2>Kontakt</h2></li>
                                <li><a href="mailto:mail@grundtvigsvaerker.dk">Kontakt</a></li>
                                <li><a href="mailto:mail@grundtvigsvaerker.dk">Nyhedsbrev</a></li>
                                            
                                            <!--
                                            <li>
                                                <form action="mailto:mail@grundtvigsvaerker.dk" enctype="text/plain" method="post">
                                                    <p>Navn: <input type="text" id="news" size="40"></p>
                                                    <p>Email: <input name="E-mail" type="text" id="news" size="40"></p>
                                                    <br/>
                                                    <p><input type="submit" name="submit" value="Send"></p>
                                                </form>
                                            </li>
                                            -->
                            </ul>

			</div>

	</div>
</div>
