
<div id="footer">
	<div class="container">

		<div id="logo_footer"><a href="#"><img src="img/logo.png" /></a></div>

			<div id="columns">

					<ul id="column1" style="display: none;">
						<li><h2><a href="#">Værker</a></h2></li>
						<li ><a href="../tekstvisning/2/0">Bøn og Begreb (1840)</a></li>
                                                <li><a href="../tekstvisning/139/0">Danske Høitids-Psalmer (1826)</a></li>
                                                <li><a href="../tekstvisning/1/0">Om Asalæren (1807)</a></li>
					</ul>

					<ul id="column2">
                                            
						<li><h2><a href="#">Registre</a></h2></li>
                                                <li><a href="../reg">Registranten</a></li>				
                                                <li ><a class="" href="../myter">Mytologisk register</a></li>
                                                <li><a href="../personer">Personregister</a></li>
                                                <li class=""><a href="../steder">Stedregister</a></li>
                                                <li class=""><a href="../bibel">Bibelregister</a></li>
                                                <li class=""><a class="" href="../bookinvent">Bogfortegnelse 1805</a></li>
					</ul>

					<ul id="column3">
						<li><h2><a href="#">Værktøj</a></h2></li>
						<li><a href="../tidslinje">Tidslinje</a></li>
                                                <li><a href="/kort">Kort</a></li>
						<li><a href="./avanceret">Avanceret søgning</a></li>
                                                <li><a href="#">Flere værktøjer</a></li>
					</ul>

					<ul id="column3">
						<li><h2><a href="#">Om GV</a></h2></li>
						<li><a href="../vejledning/om_udgaven_vej">Vejledning</a></li>
                                                <li><a href="mailto:mail@grundtvigsvaerker.dk">Kontakt</a></li>
					</ul>

			</div>

	</div>
</div>
