
<div id="footer">
	<div class="container">

		<div id="logo_footer"><a href="#"><img src="img/logo.png" /></a></div>

			<div id="columns">

					<ul id="column1">
						<li><h2><a href="#">Værker</a></h2></li>
						<li ><a href="../tekstvisning/2/0">Bøn og Begreb (1840)</a></li>
                                                <li><a href="../tekstvisning/139/0">Danske Høitids-Psalmer (1826)</a></li>
                                                <li><a href="../tekstvisning/1/0">Om Asalæren (1807)</a></li>
					</ul>

					<ul id="column2">
						<li><h2><a href="#">Register</a></h2></li>
						<li><a href="#">Registranten</a></li>
                                                <li><a href="#">Bogfortegnelse 1805</a></li>
                                                <li><a href="../myter">Mytologisk register</a></li>
                                                <li><a href="../personer">Personregister</a></li>
                                                <li><a href="../steder">Stedregister</a></li>
					</ul>

					<ul id="column3">
						<li><h2><a href="#">Verktøj</a></h2></li>
						<li><a href="../tidslinje">Tidslinje</a></li>
						<li><a href="#">Avanceret søgning</a></li>
                                                <li><a href="#">Flere værktøjer</a></li>
					</ul>

					<ul id="column3">
						<li><h2><a href="#">Om</a></h2></li>
						<li><a href="../vejledning/om_udgaven_vej">Vejledning</a></li>
                                                <li><a href="#">Kontakt</a></li>
					</ul>

			</div>

	</div>
</div>
