<div id="header_small">

	<div class="container">

	<div id="logo"><a href="#"><img src="img/logo.png" /></a></div>

	<div id="menu">
	<ul id="nav">
		<li class="with_dropdown"><a class="a_with_dropdown" href="#">Værker</a>
			<ul>
                                                #{list play.mvc.Scope.RenderArgs.current().assets, as:'asset'}
                                                    <li><a href="@{ShowAsset.tekstvisning(asset.id, 0)}">${asset.name}</a></li>
                                                #{/list}

			</ul>
		</li>
		<li class="with_dropdown"><a class="a_with_dropdown" href="#">Register</a>
					<ul>
						<li><a href="../reg">Registranten</a></li>
                                                <li><a href="#">Bogfortegnelse 1805</a></li>
                                                <li><a href="../myter">Mytologisk register</a></li>
                                                <li><a href="../personer">Personregister</a></li>
                                                <li><a href="../steder">Stedregister</a></li>
                                                <li><a href="../bibel">Bibelregister</a></li>
					</ul>
		</li>

		<li class="with_dropdown"><a class="a_with_dropdown" href="#">Værktøj</a>
					<ul>
						<li><a href="../tidslinje">Tidslinje</a></li>
						<li><a href="#">Avanceret søgning</a></li>
                                                <li><a href="#">Flere værktøjer</a></li>
					</ul>
		</li>

		<li class="with_dropdown"><a class="a_with_dropdown" href="#">Om</a>
					<ul>
						<li><a href="../vejledning/om_udgaven_vej">Vejledning</a></li>
                                                <li><a href="#">Kontakt</a></li>
					</ul>
		</li>

	</ul>

	</div>

		<div id="sok">
		<form action="search"><span id="avansert_sok"><br/></span>
                    <input name="lookfor" type="text" class="clearSearch" value="Søg i alt indhold"/><input type="submit" value="Søg" />
                </form>
                </div>

	</div>
</div>

