<div id="header_small">

	<div class="container">

	<div id="logo"><a href="#"><img src="img/logo.png" /></a></div>

	<div id="menu">
	<ul id="nav">
                
		<li class="with_dropdown">
                    <a class="a_with_dropdown" href="#">Værker</a>
                    <ul>
                            <!--
                               #{list play.mvc.Scope.RenderArgs.current().sortedAssets, as:'asset'}
                                 <li><a href="@{ShowAsset.tekstvisning(asset.id, 0)}">${asset.name}</a></li>
                               #{/list}
                            -->
                            <li><a href="/krono">Kronologisk</a></li>
                            <li><a href="/alfa">Alfabetisk</a></li>
			</ul>
		</li>
                
		<li class="with_dropdown">
                    <a class="a_with_dropdown" href="#">Registre</a>
                    <ul>
                        <li><a href="../reg">Registranten</a></li>
                        <li><a href="../myter">Mytologisk register</a></li>
                        <li><a href="../personer">Personregister</a></li>
                        <li><a href="../steder">Stedregister</a></li>
                        <li><a href="../bibel">Bibelregister</a></li>
                        <li><a href="../bookinvent">Bogfortegnelse 1805</a></li>
                    </ul>
		</li>

		<li class="with_dropdown">
                    <a class="a_with_dropdown" href="#">Værktøj</a>
                    <ul>
                        <li><a href="../tidslinje">Tidslinje</a></li>
                        <li><a href="/kort">Kort</a></li>
                        <li><a href="./avanceret">Avanceret søgning</a></li>
                        <li><a href="./tools">Flere værktøjer</a></li>
                    </ul>
		</li>

		<li class="with_dropdown">
                    <a class="a_with_dropdown" href="#">Om GV</a>
                    <ul>
                        <li><a href="../vejledning/om_udgaven_vej">Vejledning</a></li>
                        <li><a href="mailto:mail@grundtvigsvaerker.dk">Kontakt</a></li>
                        <li><a href="mailto:mail@grundtvigsvaerker.dk">Tilmeld nyhedsbrev</a></li>
                    </ul>
		</li>

	</ul>

	</div>

		<div id="sok">
		<form action="search">
                    <span id="avansert_sok">
                        <br/>
                    </span>
                    <input name="lookfor" type="text" class="clearSearch" value="Søg i alt indhold"/>
                    <input type="submit" value="Søg" />
                    <span class="avnaceretSog"><a href="">Aanceret søgning</a></span>
                </form>
                </div>

	</div>
</div>

