#{extends 'main.html' /}

<div class="container" id="admin_container">
    <h4 class="admin">GV &raquo; Administrasjon &raquo;</h4>
    <h2 class="admin">Filen ble lastet opp</h2>
<br/>
<p>Slik ser den ut:</p>
    <div id="hovedtekst" style="overflow: auto; width:475px; margin-right: 30px;">
        <div id="tekst_innhold" style="overflow: visible;">
        ${asset.html.raw()}
        </div> 
    </div>

<p><a href="uploadxml/uploadForm">Last opp ny fil &raquo;</a></p>
<p> #{a @Admin.listXmlFiles()}&laquo; Tilbake til listen#{/a}</p>

<br/>

</div>