<!--
  Alfabetisk værkoversigt
    (efter 'personvisning.html')
  Grundtvigs værker
  KK 2013-09-18
  Inkl. alternativ titel, KK 2014-03-06
  KK 2015-10-06: inkl. genrer i kolonne1_meny
  KK 2015-10-08: [kvalificerende tekst] ikke med i sortering
-->
#{extends 'main.html' /}
#{ header /}

<script type="text/javascript">
    
    $(document).ready(function() {

        $('div.root').hide();

        alphabet = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','æ','ø','å']

        $.each(alphabet, function(index, value) { 
            var nodes = [];
            $('div.work').each(function(index2) {
                var name = $(this).find('span.name').text(),
                uri= $(this).find('span.uri').text(),
                rootName= $(this).find('span.rootName').text(),
                altName= $(this).find('span.altName').text(),
                splitName= rootName.split( "_" );
                var firstLetter = name.replace(/\s*\[[^\]]*\]\s*/g,"").charAt(0).toLowerCase();
                if(firstLetter == value){ 
                    $(this).hide();
                    node = '\<!--' + name.replace(/\s*\[[^\]]*\]\s*/g,"").toLowerCase() + '--><tr><td class="shortForm"><a href="' + uri + '">' + name + '</a></td><td class="definisjon">' + splitName[0] + '</td><td class="sjNummer">' + splitName[1] + '</td></tr>';
                    nodes.push(node);
                }
                if( altName ) {
                    firstLetter = altName.charAt(0).toLowerCase();
                    if(firstLetter == value){
                        node = '\<!--' + altName.replace(/\s*\[[^\]]*\]\s*/g,"").toLowerCase() + '--><tr><td class="shortForm"><a href="' + uri + '">' + altName + '</a></td><td class="definisjon">' + splitName[0] + '</td><td class="sjNummer">' + splitName[1] + '</td></tr>';
                        nodes.push(node);
                    }                    
                }
            });
            nodes = nodes.sort().reverse();
            $(nodes).each( function(index, value2) {
                $('#' + value.toUpperCase()).after(value2);
            });
        }); 

        var loc = String(document.location);
        var idx = loc.indexOf('#');
        var href = (idx > 0) ? loc.substring(idx + 1) : "";
        if (href) $.scrollTo("#" + href, 500);              
    });
    
    
</script>


<div id="main">
    
    <div class="container" id="underside_innhold">
        
        <div id="submenu">
            <div id="breadcrumbs"><a href="#">Forside</a> &raquo; <a href="../alfa#">Værker</a> &raquo;  Alfabetisk oversigt</div>
            
        </div>
        
        <div class="kolonne1">
            <ul id="kolonne1_meny">
                <li class="header">Værker</li>
                <li><a href="/krono">Kronologisk</a></li>
                <li><a class="selected" href="/alfa">Alfabetisk</a></li>
                <li class="last"><a class="selected" href="/genre">Genrer</a></li>
            </ul>
        </div>
        
        <div id="kolonne1_bred">
            
            <h1>Værker</h1>
            
            <div id="innholdsfortegnelse">
                
                <a href="../alfa#A">a</a>                
                <a href="../alfa#B">b</a>
                <a href="../alfa#C">c</a>
                <a href="../alfa#D">d</a>
                <a href="../alfa#E">e</a>
                <a href="../alfa#F">f</a>
                <a href="../alfa#G">g</a>
                <a href="../alfa#H">h</a>
                <a href="../alfa#I">i</a>
                <a href="../alfa#J">j</a>
                <a href="../alfa#K">k</a>
                <a href="../alfa#L">l</a>
                <a href="../alfa#M">m</a>
                <a href="../alfa#N">n</a>
                <a href="../alfa#O">o</a>
                <a href="../alfa#P">p</a>
                <a href="../alfa#Q">q</a>
                <a href="../alfa#R">r</a>
                <a href="../alfa#S">s</a>
                <a href="../alfa#T">t</a>
                <a href="../alfa#U">u</a>
                <a href="../alfa#V">v</a>
                <a href="../alfa#W">w</a>
                <a href="../alfa#X">x</a>
                <a href="../alfa#Y">y</a>
                <a href="../alfa#Z">z</a>
                <a href="../alfa#Æ">Æ</a>
                <a href="../alfa#Ø">Ø</a>
                <a href="../alfa#Å">Å</a>
            </div>
            
            <div id="liste" class="hideroot">
                
                <!--div>Her bygges en alfabetisk oversigt!</div-->
                
                <div class="root">
                    #{list play.mvc.Scope.RenderArgs.current().sortedAssets, as:'asset'}
                    <div class="work">
                        <span class="uri">@{ShowAsset.tekstvisning(asset.id, 0)}</span>
                        <span class="name">${asset.name}</span>
                        <span class="rootName">${asset.rootName}</span>
                        <span class="altName">${asset.getXmlElem( asset.xml, "title", "rend", "altForm" )}</span>       
                    </div>
                    #{/list}
                </div>
                
                <table class="alfa">
                    <tr>
                        <td class="shortForm">Titel</td>
                        <td class="definisjon">År</td>
                        <td class="sjNummer" title="Steen Johansen">SJ</td>
                    </tr>

                    <tr class="bottom_border" id="A">
                        <td class="shortForm"><h4>A</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="B">
                        <td class="shortForm"><h4>B</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="C">
                        <td class="shortForm"><h4>C</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>    
                    <tr class="bottom_border" id="D">
                        <td class="shortForm"><h4>D</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="E">
                        <td class="shortForm"><h4>E</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="F">
                        <td class="shortForm"><h4>F</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="G">
                        <td class="shortForm"><h4>G</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="H">
                        <td class="shortForm"><h4>H</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="I">
                        <td class="shortForm"><h4>I</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="J">
                        <td class="shortForm"><h4>J</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="K">
                        <td class="shortForm"><h4>K</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="L">
                        <td class="shortForm"><h4>L</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="M">
                        <td class="shortForm"><h4>M</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="N">
                        <td class="shortForm"><h4>N</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="O">
                        <td class="shortForm"><h4>O</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="P">
                        <td class="shortForm"><h4>P</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Q">
                        <td class="shortForm"><h4>Q</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="R">
                        <td class="shortForm"><h4>R</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="S">
                        <td class="shortForm"><h4>S</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="T">
                        <td class="shortForm"><h4>T</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="U">
                        <td class="shortForm"><h4>U</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="V">
                        <td class="shortForm"><h4>V</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="W">
                        <td class="shortForm"><h4>W</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="X">
                        <td class="shortForm"><h4>X</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Y">
                        <td class="shortForm"><h4>Y</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Z">
                        <td class="shortForm"><h4>Z</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Æ">
                        <td class="shortForm"><h4>Æ</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Ø">
                        <td class="shortForm"><h4>Ø</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Å">
                        <td class="shortForm"><h4>Å</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                </table>
                
            </div>
            
        </div>
        
    </div>
</div>