<!--
  Alfabetisk værkoversigt
    (efter 'personvisning.html')
  Grundtvigs værker
  KK 2013-09-13
-->
#{extends 'main.html' /}
#{ header /}

<script type="text/javascript">
    
    
    
    $(document).ready(function() {
    
    $('div.root').hide();
    
    alphabet = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','æ','ø','å']
    
    $.each(alphabet, function(index, value) { 
    var nodes = [];
    $('div.work').each(function(index2) {
    var name = $(this).find('span.name').text(),
    uri= $(this).find('span.uri').text(),
    rootName= $(this).find('span.rootName').text(),
    splitName= rootName.split( "_" );
    // alert("Adding: " + name);
    firstLetter = name.charAt(0).toLowerCase();; 
    if(firstLetter == value){ 
    $(this).hide();
    //                                year = $(this).find('.row span.year').text() + ', '; 
    //                                if( year == ', ') { year = '';};
    //                                var addName = $(this).find('.row span.addName').not($('span span')).text();
    //                                nation = $(this).find('.row span.nation').text();
    //                                about = $(this).find('.row span.encyk').text();
    //                                if ($(this).find(".altName").length > 0) {
    //                                    var gotoName = $(this).find(".gotoName").html();
    //                                    node = '<tr><td class="navn"><a href="../personer#">' + name + '</a></td><td>' + gotoName + "</tr";
    //                                } else { 
    //                                    var id = $(this).attr("id");
    node = '<tr><td class="shortForm"><a href="' + uri + '">' + name + '</a></td><td class="definisjon">' + splitName[0] + '</td><td class="sjNummer">' + splitName[1] + '</td></tr>';
    
    //                                }
    //                                $(this).attr("id", "");
    nodes.push(node);
    }
    });
    nodes = nodes.sort().reverse();
    $(nodes).each( function(index, value2) {
    $('#' + value.toUpperCase()).after(value2);
    });
    }); 
    
    
    // later: remove duplicate code with mythvisning.html
    //                $("tbody").find("a[href]").click(function(e) {
    //                    e.preventDefault();
    //                    // alert("Scrolling to: " + $(this).attr("href"));
    //                    var scrolltarget = $($(this).attr("href"));
    //                    $.scrollTo(scrolltarget, 500);
    //                    
    //               }); 
    
    // get current location and scrolldown to this if exists
    var loc = String(document.location);
    var idx = loc.indexOf('#');
    var href = (idx > 0) ? loc.substring(idx + 1) : "";
    if (href) $.scrollTo("#" + href, 500);              
    
    
    });
    
    
</script>


<div id="main">
    
    <div class="container" id="underside_innhold">
        
        <div id="submenu">
            <div id="breadcrumbs"><a href="#">Forside</a> &raquo; <a href="#">Værker</a> &raquo;  Alfabetisk</div>
            
        </div>
        
        <div class="kolonne1">
            <ul id="kolonne1_meny">
                <li class="header">Værker</li>
                <li><a href="/krono">Kronologisk</a></li>
                <li class="last"><a class="selected" href="/alfa">Alfabetisk</a></li>
            </ul>
        </div>
        
        <div id="kolonne1_bred">
            
            <h1>Værker</h1>
            
            <p>Alfabetisk oversigt</p>
            
            <div id="innholdsfortegnelse">
                
                <a href="../alfa#A">a</a>                
                <a href="../alfa#B">b</a>
                <a href="../alfa#C">c</a>
                <a href="../alfa#D">d</a>
                <a href="../alfa#E">e</a>
                <a href="../alfa#F">f</a>
                <a href="../alfa#G">g</a>
                <a href="../alfa#H">h</a>
                <a href="../alfa#I">i</a>
                <a href="../alfa#J">j</a>
                <a href="../alfa#K">k</a>
                <a href="../alfa#L">l</a>
                <a href="../alfa#M">m</a>
                <a href="../alfa#N">n</a>
                <a href="../alfa#O">o</a>
                <a href="../alfa#P">p</a>
                <a href="../alfa#Q">q</a>
                <a href="../alfa#R">r</a>
                <a href="../alfa#S">s</a>
                <a href="../alfa#T">t</a>
                <a href="../alfa#U">u</a>
                <a href="../alfa#V">v</a>
                <a href="../alfa#W">w</a>
                <a href="../alfa#X">x</a>
                <a href="../alfa#Y">y</a>
                <a href="../alfa#Z">z</a>
                <a href="../alfa#Æ">Æ</a>
                <a href="../alfa#Ø">Ø</a>
                <a href="../alfa#Å">Å</a>
            </div>
            
            <div id="liste" class="hideroot">
                
                <!--div>Her bygges en alfabetisk oversigt!</div-->
                
                <div class="root">
                    #{list play.mvc.Scope.RenderArgs.current().sortedAssets, as:'asset'}
                    <div class="work"><span class="uri">@{ShowAsset.tekstvisning(asset.id, 0)}</span><span class="name">${asset.name}</span><span class="rootName">${asset.rootName}</span></div>
                    #{/list}
                </div>
                
                <table>
                    <tr class="bottom_border" id="A">
                        <td><h4>A</h4></td>
                        <td class="returnTop"><a class="returnTop" href="http://localhost:9000/alfa" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="B">
                        <td><h4>B</h4></td>
                        <td></td>
                    </tr>
                    
                    <tr class="bottom_border" id="C">
                        <td><h4>C</h4></td>
                        <td></td>
                    </tr>
                    
                    <tr class="bottom_border" id="D">
                        <td><h4>D</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="E">
                        <td><h4>E</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="F">
                        <td><h4>F</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="G">
                        <td><h4>G</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="H">
                        <td><h4>H</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="I">
                        <td><h4>I</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="J">
                        <td><h4>J</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="K">
                        <td><h4>K</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="L">
                        <td><h4>L</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="M">
                        <td><h4>M</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="N">
                        <td><h4>N</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="O">
                        <td><h4>O</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="P">
                        <td><h4>P</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="Q">
                        <td><h4>Q</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="R">
                        <td><h4>R</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="S">
                        <td><h4>S</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="T">
                        <td><h4>T</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="U">
                        <td><h4>U</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="V">
                        <td><h4>V</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="W">
                        <td><h4>W</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="X">
                        <td><h4>X</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="Y">
                        <td><h4>Y</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="Z">
                        <td><h4>Z</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="Æ">
                        <td><h4>Æ</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="Ø">
                        <td><h4>Ø</h4></td>
                        <td></td>
                    </tr>
                    <tr class="bottom_border" id="Å">
                        <td><h4>Å</h4></td>
                        <td class="returnTop"><a href="http://localhost:9000/alfa">&#x25B3;</a></td>
                    </tr>
                    
                </table>
                
            </div>
            
        </div>
        
    </div>
</div>