#{extends 'main.html' /}
#{ header /}

<script>

  $(document).ready(function() {
// load intro
 var introUrl = "ajax/getVeiledning/gv_vej";
         $.ajax({
             url: introUrl,
             success: function(data) {
                 var introContent = $("#intro_tekst");
                 introContent.html(data);
             }
         });
  });
  </script>

<div id="main">

	<div class="container" id="underside_innhold">

		<div id="submenu">
		<div id="breadcrumbs"><a href="#">Forside</a> &raquo; </div>

		</div>

	<div class="kolonne1">

		<ul id="kolonne1_meny">
			
                        <li class="header"> Grundtvigs Værker</li>
                        <li class="kolofon">Version 1.3</li>
                        <li class="">Oktober 2013</li>
                        <li class="">© Grundtvig Centeret</li>
                        <li class="">ved Aarhus Universitet</li>
                        <li class=""><a id="kolofon_link" href="/vejledning/kolofon_vej">Medarbejdere</a></li>

			<li class="header">Registre</li>
                        
                        <li><a href="../reg">Registranten</a></li>
                        <li><a class="" href="../myter">Mytologisk register</a></li>
                        <li><a href="../personer">Personregister</a></li>
                        <li><a href="../steder">Stedregister</a></li>
                        <li><a href="../bibel">Bibelregister</a></li>
                        <li><a class="" href="../bookinvent">Bogfortegnelse 1805</a></li>
                                

			<li class="header">Værktøj</li>
                        
                        <li><a href="../tidslinje">Tidslinje</a></li>
                        <li class="last"><a href="./avanceret">Avanceret søgning</a></li>


			<li class="header">Om GV</li>
                        
                        <li><a href="../vejledning/om_udgaven_vej">Vejledning</a></li>
                        <li class="last"><a href="mailto:mail@grundtvigsvaerker.dk">Kontakt</a></li>
		</ul>

	</div>

	<div class="kolonne2" id="intro_tekst">

	</div>

	<div class="kolonne3">
	</div>


	</div>
</div>

</body>

</html>
