<!--
  Kronologisk værkoversigt
  Grundtvigs værker
  KK 2013-09-13
-->
#{extends 'main.html' /}
#{ header /}



<div id="main">

	<div class="container" id="underside_innhold">

		<div id="submenu">
		<div id="breadcrumbs"><a href="#">Forside</a> &raquo; <a href="#">Værker</a> &raquo;  Kronologisk</div>

		</div>
            
            <div class="kolonne1">

		<ul id="kolonne1_meny">
                    <li class="header">Værker</li>
                    <li><a class="selected" href="/krono">Kronologisk</a></li>
                    <li class="last"><a href="/alfa">Alfabetisk</a></li>
                </ul>
            </div>

	<div id="kolonne1_bred"><h1>Værker</h1>
            
            <p>Alfabetisk oversigt</p>
            
            <div id="tidsInterval">
                <a href="../alfa#A">1800-1809</a>                
                <a href="../alfa#B">1810-1819</a>
                <a href="../alfa#C">1820-1829</a>
                <a href="../alfa#D">1830-1839</a>
                <a href="../alfa#E">1840-1849</a>
                <a href="../alfa#F">1850-1859</a>
                <a href="../alfa#G">1860-1869</a>
                <a href="../alfa#H">1870-1872</a>
                <a href="../alfa#I">1872-?</a>
            </div>
           

            <div id="liste" class="hideroot">

                
<!--div>Her bygges en kronologisk oversigt!</div-->
  <!--ul>
    #{list play.mvc.Scope.RenderArgs.current().sortedAssets, as:'asset'}
     <li><a href="@{ShowAsset.tekstvisning(asset.id, 0)}">${asset.name}</a></li>
    #{/list}
  </ul-->
  
  <table style="width:100%">
      <head>
       <td style="width:400px;border-bottom:thin solid gray">Titel</td>
       <td style="border-bottom:thin solid gray">År SJ:nummer</td>
      </head>
    #{list play.mvc.Scope.RenderArgs.current().sortedAssets, as:'asset'}
     <tr>
       <td style="width:400px"><a href="@{ShowAsset.tekstvisning(asset.id, 0)}">${asset.name}</a></td>
       <td><span class="rootName">${asset.rootName}</span></td>
     </tr>
    #{/list}
  </table>
  
  <table>
      <tr class="bottom_border" id="A">
          <td><h4>A</h4></td>
          <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
      </tr>
      <tr class="bottom_border" id="B">
          <td><h4>B</h4></td>
          <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
      </tr>
      <tr class="bottom_border" id="C">
          <td><h4>C</h4></td>
          <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
      </tr>
  </table>
  
  

		</div>

	</div>

	</div>
</div>

