<!--
  Kronologisk værkoversigt
  Grundtvigs værker
  KK 2013-09-13
-->
#{extends 'main.html' /}
#{ header /}

<script type="text/javascript">
    
    
    
    $(document).ready(function() {
    
    $('div.root').hide();
    
    interval = ['1810-1809','1801-1819','1820-1829','1830-1839','1840-1849','1850-1859','1860-1869','1870-1872','1872-?']
    
    $.each(alphabet, function(index, value) { 
    var nodes = [];
    $('div.work').each(function(index2) {
    var name = $(this).find('span.name').text(),
    uri= $(this).find('span.uri').text(),
    rootName= $(this).find('span.rootName').text(),
    splitName= rootName.split( "_" );
    // alert("Adding: " + name);
    firstLetter = name.charAt(0).toLowerCase();; 
    if(firstLetter == value){ 
    $(this).hide();
    //                                year = $(this).find('.row span.year').text() + ', '; 
    //                                if( year == ', ') { year = '';};
    //                                var addName = $(this).find('.row span.addName').not($('span span')).text();
    //                                nation = $(this).find('.row span.nation').text();
    //                                about = $(this).find('.row span.encyk').text();
    //                                if ($(this).find(".altName").length > 0) {
    //                                    var gotoName = $(this).find(".gotoName").html();
    //                                    node = '<tr><td class="navn"><a href="../personer#">' + name + '</a></td><td>' + gotoName + "</tr";
    //                                } else { 
    //                                    var id = $(this).attr("id");
    node = '<tr><td class="shortForm"><a href="' + uri + '">' + name + '</a></td><td class="definisjon">' + splitName[0] + '</td><td class="sjNummer">' + splitName[1] + '</td></tr>';
    
    //                                }
    //                                $(this).attr("id", "");
    nodes.push(node);
    }
    });
    nodes = nodes.sort().reverse();
    $(nodes).each( function(index, value2) {
    $('#' + value.toUpperCase()).after(value2);
    });
    }); 
    
    
    // later: remove duplicate code with mythvisning.html
    //                $("tbody").find("a[href]").click(function(e) {
    //                    e.preventDefault();
    //                    // alert("Scrolling to: " + $(this).attr("href"));
    //                    var scrolltarget = $($(this).attr("href"));
    //                    $.scrollTo(scrolltarget, 500);
    //                    
    //               }); 
    
    // get current location and scrolldown to this if exists
    var loc = String(document.location);
    var idx = loc.indexOf('#');
    var href = (idx > 0) ? loc.substring(idx + 1) : "";
    if (href) $.scrollTo("#" + href, 500);              
    
    
    });
    
    
</script>



<div id="main">

	<div class="container" id="underside_innhold">

		<div id="submenu">
		<div id="breadcrumbs"><a href="#">Forside</a> &raquo; <a href="#">Værker</a> &raquo;  Kronologisk</div>

		</div>
            
            <div class="kolonne1">

		<ul id="kolonne1_meny">
                    <li class="header">Værker</li>
                    <li><a class="selected" href="/krono">Kronologisk</a></li>
                    <li class="last"><a href="/alfa">Alfabetisk</a></li>
                </ul>
            </div>

	<div id="kolonne1_bred"><h1>Værker</h1>
            
            <p>Kronologisk oversigt</p>
            
            <div id="tidsInterval">
                <a href="../krono#00">1800-1809</a>                
                <a href="../krono#10">1810-1819</a>
                <a href="../krono#20">1820-1829</a>
                <a href="../krono#30">1830-1839</a>
                <a href="../krono#40">1840-1849</a>
                <a href="../krono#50">1850-1859</a>
                <a href="../krono#60">1860-1869</a>
                <a href="../krono#70">1870-1872</a>
                <a href="../krono#72">1872-?</a>
            </div>

                
<!--div>Her bygges en kronologisk oversigt!</div-->
  <!--ul>
    #{list play.mvc.Scope.RenderArgs.current().sortedAssets, as:'asset'}
     <li><a href="@{ShowAsset.tekstvisning(asset.id, 0)}">${asset.name}</a></li>
    #{/list}
  </ul
  
  <table style="width:100%">
      <head>
       <td style="width:400px;border-bottom:thin solid gray">Titel</td>
       <td style="border-bottom:thin solid gray">År SJ:nummer</td>
      </head>
    #{list play.mvc.Scope.RenderArgs.current().sortedAssets, as:'asset'}
     <tr>
       <td style="width:400px"><a href="@{ShowAsset.tekstvisning(asset.id, 0)}">${asset.name}</a></td>
       <td><span class="rootName">${asset.rootName}</span></td>
     </tr>
    #{/list}
  </table>-->
           

            <div id="liste" class="hideroot">
                
                <div class="root">
                    #{list play.mvc.Scope.RenderArgs.current().sortedAssets, as:'asset'}
                    <div class="work"><span class="uri">@{ShowAsset.tekstvisning(asset.id, 0)}</span><span class="name">${asset.name}</span><span class="rootName">${asset.rootName}</span></div>
                    #{/list}
                </div>
                
                <table>
                    <tr class="bottom_border" id="00">
                        <td><h4>1800-1809</h4></td>
                        <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="10">
                        <td><h4>1810-1819</h4></td>
                        <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="20">
                        <td><h4>1820-1829</h4></td>
                        <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="30">
                        <td><h4>1830-1839</h4></td>
                        <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="40">
                        <td><h4>1840-1849</h4></td>
                        <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="50">
                        <td><h4>1850-1859</h4></td>
                        <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="60">
                        <td><h4>1860-1869</h4></td>
                        <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="70">
                        <td><h4>1870-1872</h4></td>
                        <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="72">
                        <td><h4>1872-?</h4></td>
                        <td class="returnTop"><a class="returnTop" href="http://prometheus.statsbiblioteket.dk/krono" title="til toppen">&#x25B2;</a></td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
</div>

