#{extends 'main_tidslinje.html' /}
#{ header /}


<div id="main">

	<div class="container" >

		<div id="submenu">
		<div id="breadcrumbs"><a href="#">Forside</a> &raquo; <a href="#">Verktøy</a> &raquo; Tidslinje</div>
                 <a id="timeline_vejledning" href="../vejledning/timeline_vej" target="_blank">Vejledning til tidslinje</a>
                </div>
       
        <h1>Tidslinje</h1>
        </div>

        <div class="container" id="tidslinje_container">

                <div id="tidslinje">

                    


                    <div id="my-timeline" style="height: 600px; border: 1px solid #ddd"></div>

                <noscript>
                This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
                </noscript>


                </div>

            <br/>
        </div>
</div>

#{ footer /}
