#{extends 'main.html' /}
#{ header /}

<style type="text/css">
  .choice {background-color: #f8f8f8;
           border: thin solid silver;
           padding: 5px 0px 0px 1px; {}
           line-height: 150%;}
  #proxNo {font-size: 100%;}
  .qps {background-color: aliceblue;
        color: red;
        float: none;}
  .advSearch input {float: none;}
  .vejl {color: orange;}
</style>
<!--script type="text/javascript"> //May be used for genres
  function chkall( my ) {
    if( my.checked ) 
      for( var i= 0; i != advForm.elements.length; i++ )
        if( advForm.elements[i].name==my.name ) {
          advForm.elements[i].checked= true;
      }
  }

  function unchkall( my ) {
    if( !my.checked ) 
      for( var i= 0; i != advForm.elements.length; i++ )
        if( advForm.elements[i].name==my.name && advForm.elements[i].value=="0" ) {
          advForm.elements[i].checked= false;
          return;
      }
  }
</script-->
<script type="text/javascript"> // <!--
  function buildQPS( words ) {
    var lucene= document.getElementById( "luceneString" ),
        prox= document.getElementById( "proxNo" ),
        proxVal= prox.value.replace(/[^0-9]/g,""),
        boolVal= " ",
        quoteVal= "";
    for( var i= 0; i != advForm.elements.length; i++ )
      if( advForm.elements[i].name=="bool" && advForm.elements[i].checked ) {
        if( advForm.elements[i].value==0 )
          boolVal= " AND ";
        else if( advForm.elements[i].value==1 )
          boolVal= " OR ";
        else if( advForm.elements[i].value==2 )
          quoteVal= '"';
      }
    lucene.value= words.value.replace(/^ *| *$/g,quoteVal).replace(/ +/g,boolVal).replace(/(~[0-9.]*)?$/g,(proxVal?"~":"")+proxVal);
  }
  //-->
</script>

<div id="main">

	<div class="container" id="underside_innhold">

		<div id="submenu">
		<div id="breadcrumbs"><a href="#">Forside</a> &raquo; Værktøj &raquo; Avanceret søgning</div>

		</div>

	<div class="kolonne1">

		<ul id="kolonne1_meny">
			<li class="header">Værktøj</li>
                        <li><a href="../tidslinje">Tidslinje</a></li>
                        <li><a href="/kort">Kort</a></li>
                        <li><a href="./avanceret">Avanceret søgning</a></li>
                        <li><a href="./tools">Flere værktøjer</a></li>
		</ul>

	</div>

	<div class="kolonne2" id="intro_tekst">
	  <div>
		<form name="advForm" action="avanceret" class="advSearch">
		  <div>
		    <h5>Søgekategori</h5>
		    <span class="choice">Grundtvig<input type="checkbox" name="cat" value="grundtvig" checked="checked"/></span>
		    <span class="choice">Kommentar<input type="checkbox" name="cat" value="kommentar" checked="checked"/></span>
		  </div>
		  <!--div>
		    <h5>Genre</h5>
		    <span class="choice">Alle<input type="checkbox" name="genre" value="0" checked="checked" onclick="chkall(this)"/></span>
		    <span class="choice">Salmer<input type="checkbox" name="genre" value="1" checked="checked" onclick="unchkall(this)"/></span>
		    <span class="choice">Bragesnak<input type="checkbox" name="genre" value="2" checked="checked" onclick="unchkall(this)"/></span>
		    <span class="choice">Sure opstød<input type="checkbox" name="genre" value="3" checked="checked" onclick="unchkall(this)"/></span>
		    <span class="choice">Andet<input type="checkbox" name="genre" value="4" checked="checked" onclick="unchkall(this)"/></span>
		  </div-->
		  <div>
		    <h5>Søgeord</h5>
		    <input name="words" class="clearSearch" type="text" value="Søgeord" onchange="buildQPS(this)"/>
		    <span class="vejl"><a onclick="return blank(this.href)" href="vejledning.html">Jokertegn</a>, * og ? kan anvendes</span>
		    <br/>
		    Søg efter: 
		    <span class="choice">Alle ord<input type="radio" name="bool" value="0" checked="checked" onchange="buildQPS(words)"/></span> 
		    <span class="choice">Nogle ord<input type="radio" name="bool" value="1" onchange="buildQPS(words)"/></span>
		    <span class="choice">Den nøjagtige sætning<input type="radio" name="bool" value="2" onchange="buildQPS(words)"/></span>
		    <span class="vejl">Relevant ved flere søgeord</span>
		    <br/>
                    <span class="choice">Alle ord med maks. <input id="proxNo" class="clearSearch" type="text" size="2" name="prox" value="10" onchange="buildQPS(words)"/> ord imellem<input type="radio" name="bool" value="3" onchange="buildQPS(words)"/></span>
		    <!--Søg i:
		    <span class="choice">Hele værker<input type="radio" name="chp" value="yes"/></span> 
		    <span class="choice">Kapitler<input type="radio" name="chp" value="no" checked="checked"/></span>
		    <span class="vejl">Relevant i forbindelse med Grundtvigs tekst</span> 
		    <br/>
                    -->
		    <!--Søg inden for: <input id="proxNo" type="text" size="2" name="prox" value="" onchange="buildQPS(words)"/> ord-->
		  </div>

		    
          <div>
            <br/>
		    <input type="submit" value="Søg" />               
          </div>
		    
		  <div>
		    <br/>
		    <input id="luceneString" name="lucene" class="clearSearch qps" type="text" size="40" value="Lucene QPS"/>
		    <span class="vejl">Læs mere om <a onclick="return blank(this.href)" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">QPS</a> og avanceret søgning</span>
		  </div>
		</form>	      
	  </div>
            
<div class="container" id="search_results">

<h1>Søgning efter <b>${lookfor}</b> gav i alt ${totalHits} resultat(er)</h1>


<h2><b>Resultater i hele filer:</b></h2>


#{list renderAssets, as:'asset'}
<div class="treff">
<h4><a href="tekstvisning/${asset.correspondingRootId}/0">${asset.name}</a></h4>
    <p class="treff2"">${asset.getTeaser(lookfor).raw()}</p>
</div>
#{/list}


<h2><b>Resultater i kapitler:</b></h2>


#{list chapters, as:'chapter'}
<div class="treff">
    <h4><a href="tekstvisning/${chapter.asset.correspondingRootId}/${chapter.num}">
        ${chapter.asset.name}
    </a></h4>
    <p class="treff2">${chapter.getTeaser(lookfor).raw()}</p>
</div>
#{/list}

</div>

        </div>
        </div>

	<div class="kolonne3">
	</div>


	</div>
</div>