#{extends 'main.html' /}
#{set subPageTitle:'Søg' /}
#{ header /}

<!-- 

KK 2014-02-13
KSR 2014-02-26 og 27f
KK 2014-03-06
-->

<style type="text/css">
    
.choice
        {
         /*background-color: #f8f8f8;
         border: thin solid silver;*/
         font-size: 16px;
         margin: 0px 12px 0px 0px;
         /*padding: 5px 10px 8px 3px;*/
         line-height: 150%;
        }
        
  /*#proxNo {font-size: 100%;}*/
  
.qps 
        {
        background-color: aliceblue;
        color: red;
        /*float: none;*/
        }
        
.advSearch input 
        {
        float: none;
        }
        
.vejl 
        {
        color: orange
        }
        
input[type=text]
        {
        /*border: 1px solid black;
        -webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 3px;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0, .3);
	box-shadow: 0 2px 3px rgba(0,0,0, .3);*/
        border: 1px solid #808080;
        background-clip: padding-box;
        border-radius: 3px 3px 3px 3px;
        margin: 0px;
        -moz-border-radius: 5px 5px 5px 5px;
        -moz-background-clip: padding-box;
        -webkit-border-radius: 5px 5px 5px 5px;
        -webkit-background-clip: padding-box;
        padding: 2px;
                
    }
  
</style>

<!--script type="text/javascript"> //May be used for genres
  function chkall( my ) {
    if( my.checked ) 
      for( var i= 0; i != advForm.elements.length; i++ )
        if( advForm.elements[i].name==my.name ) {
          advForm.elements[i].checked= true;
      }
  }

  function unchkall( my ) {
    if( !my.checked ) 
      for( var i= 0; i != advForm.elements.length; i++ )
        if( advForm.elements[i].name==my.name && advForm.elements[i].value=="0" ) {
          advForm.elements[i].checked= false;
          return;
      }
  }
</script-->
<script type="text/javascript"> // <!--
  function QueryString(key) {
    var value = null;
    for (var i=0;i<QueryString.keys.length;i++) {
      if (QueryString.keys[i]==key) {
        value = QueryString.values[i];
        break;
      }
    }
    return value;
  }

  function QueryString_Parse() {
    var query = window.location.search.substring(1);
    var pairs = query.split("&");
    for (var i=0;i<pairs.length;i++) {
      var pos = pairs[i].indexOf('=');
      if (pos >= 0) {
        var argname = pairs[i].substring(0,pos);
        var value = pairs[i].substring(pos+1);
        QueryString.keys[QueryString.keys.length] = argname;
        QueryString.values[QueryString.values.length] = value;
      }
    }
  }
  
  
  #{if !first}
  function addPaginator() {
        var totalHits = ${totalHits};
        if (totalHits == 0) return;
        $(function() {
            $("#paginator").pagination({
                pages: ${totalPages},
                currentPage: ${page},
                cssStyle: 'light-theme',
                hrefTextPrefix: "avanceret?page=",        
                hrefTextSuffix: "&" + window.location.search.substring(1).replace(/page=\d+./, "")
            });
        });
  }
  #{/if}
  
  $(document).ready(function() { 
    // Reetabler søgefelter udfra url-query
    // fx: ?grundtvig=jatak&kommentar=jatak&words=sogn+falster&bool=0&prox=10&lucene=sogn+AND+falster
    QueryString.keys = new Array();  
    QueryString.values = new Array();
    QueryString_Parse();
    var wordsQS= QueryString("words");
//alert( wordsQS+","+boolQS+","+proxQS+","+luceneQS );
//alert( proxNoElem );
    if( wordsQS ) { //en søgestreng findes, dvs. siden er kaldt som resultat af en søgning, ikke fra menuen
      var grundtvigQS= QueryString("grundtvig"),
          kommentarQS= QueryString("kommentar"),
          boolQS= QueryString("bool"),
          proxQS= QueryString("prox"),
          wordsElem= document.getElementById( "wordsString" );
      wordsElem.value= decodeURI( wordsQS.replace(/\+/g," ").replace(/%3F/g,"?") ).replace(/%../g,"");
      if( !grundtvigQS ) {
        var grundtvigElem= document.getElementById( "grundtvigChk" );
        grundtvigElem.checked= false;
      }
      if( !kommentarQS ) {
        var kommentarElem= document.getElementById( "kommentarChk" );
        kommentarElem.checked= false;
      }
      if( boolQS ) {
        var radioElem= document.getElementById( "radio"+boolQS );
        radioElem.checked= true;
      }
      if( proxQS ) {
        var proxNoElem= document.getElementById( "proxNo" );
        proxNoElem.value= proxQS;
      }
      buildQPS( wordsElem );
      #{if !first}
        addPaginator();
      #{/if}
    }
  });
  
  function buildQPS( words ) {
    var lucene= document.getElementById( "luceneString" ),
        prox= document.getElementById( "proxNo" ),
        proxVal= prox.value.replace(/[^0-9]/g,""),
        putProx= "",
        boolVal= " ",
        quoteVal= "";
    for( var i= 0; i != advForm.elements.length; i++ )
      if( advForm.elements[i].name=="bool" && advForm.elements[i].checked ) {
        if( advForm.elements[i].value==0 )
          boolVal= " AND ";
        else if( advForm.elements[i].value==1 )
          boolVal= " OR ";
        else if( advForm.elements[i].value==2 )
          quoteVal= '"';
        else if( advForm.elements[i].value==3 ) {
          quoteVal= '"';
          putProx= (proxVal?"~":"") + proxVal;
        }
      }
    lucene.value= words.value.replace(/^ *| *$/g,quoteVal).replace(/ +/g,boolVal).replace(/(~[0-9.]*)?$/g,putProx);
  }  
  //-->
</script>

<div id="main">
    
    <div class="container" id="underside_innhold">
        
        <div id="submenu">
            <div id="breadcrumbs"><a href="#">Forside</a> &raquo; Værktøj &raquo; Avanceret søgning</div>
            <a id="search_vejledning" href="../vejledning/search_vej">Vejledning til søgning</a>
        </div>

	<div class="kolonne1">
            <ul id="kolonne1_meny">
                <li class="header">Værktøj</li>
                <li><a href="../tidslinje">Tidslinje</a></li>
                <li><a href="/kort">Kort</a></li>
                <li><a class="selected" href="./avanceret">Avanceret søgning</a></li>
                <li><a href="./tools">Flere værktøjer</a></li>
            </ul>
        </div>

	<div class="kolonne2" id="intro_tekst">
	  <div>
              <form name="advForm" action="avanceret" class="advSearch">
                  <div>
                      
		    <h4>Søgekategorier</h4>
                    <span class="choice">Grundtvig<input id="grundtvigChk" type="checkbox" name="grundtvig" value="jatak" checked="checked"/></span>
		    <span class="choice">Kommentar<input id="kommentarChk" type="checkbox" name="kommentar" value="jatak" checked="checked"/></span>
		  
                    <!--
		    <h4>Genre</h4>
		    <span class="choice">Alle<input type="checkbox" name="genre" value="0" checked="checked" onclick="chkall(this)"/></span>
		    <span class="choice">Salmer<input type="checkbox" name="genre" value="1" checked="checked" onclick="unchkall(this)"/></span>
		    <span class="choice">Digte<input type="checkbox" name="genre" value="2" checked="checked" onclick="unchkall(this)"/></span>
		    <span class="choice">Polemik<input type="checkbox" name="genre" value="3" checked="checked" onclick="unchkall(this)"/></span>
		    <span class="choice">Mytologi<input type="checkbox" name="genre" value="4" checked="checked" onclick="unchkall(this)"/></span>
		    <span class="choice">Teologi<input type="checkbox" name="genre" value="5" checked="checked" onclick="unchkall(this)"/></span>
                    -->
                    <div>
                        <h4>Søgeord</h4>
                        <input id="wordsString" name="words" class="clearSearch" type="text" value="Søgeord" onchange="buildQPS(this)"/>
                        <!--<span class="vejl">Jokertegn, * og ? kan anvendes</span>-->
                        <br/>
                        <h4>Søg efter:</h4>
                        <span class="choice">Alle ord<input id="radio0" type="radio" name="bool" value="0" checked="checked" onchange="buildQPS(words)"/></span> 
		        <span class="choice">Nogle ord<input id="radio1" type="radio" name="bool" value="1" onchange="buildQPS(words)"/></span>
                        <span class="choice">Den nøjagtige ordlyd<input id="radio2" type="radio" name="bool" value="2" onchange="buildQPS(words)"/></span>
                        <br/>
                        <span class="choice">Alle ord med højst <input style="text-align: center" id="proxNo" class="clearSearch" type="text" size="3" name="prox" value="10" onchange="radio3.checked=true;buildQPS(words)"/> ord imellem<input id="radio3" type="radio" name="bool" value="3" onchange="buildQPS(words)"/></span>
                        <br/>
                    <!--<span class="vejl">Relevant ved flere søgeord</span>-->
		    <!--Søg i:
		    <span class="choice">Hele værker<input type="radio" name="chp" value="yes"/></span> 
		    <span class="choice">Kapitler<input type="radio" name="chp" value="no" checked="checked"/></span>
		    <span class="vejl">Relevant i forbindelse med Grundtvigs tekst</span> 
		    <br/>
                    -->
		    <!--Søg inden for: <input id="proxNo" type="text" size="2" name="prox" value="" onchange="buildQPS(words)"/> ord-->
		  </div>
                    
                    <div>
                        <br/>
                        <input type="submit" value="Søg" />
                        <br/>
                    </div>
                    
                    <div>
                        <input id="luceneString" name="lucene" type="hidden" value=".ingenting."/>
                    <!--input id="luceneString" name="lucene" class="clearSearch qps" type="text" size="40" value="Lucene QPS"/>
		    <span class="vejl">Læs mere om <a onclick="return blank(this.href,'vejl')" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">QPS</a> og avanceret søgning</span-->
		  </div>
		</form>	      
	  </div>            
            
#{if lookfor}
<div class="container" id="search_results">
#{set W= lookfor.split(/ /) /}
<h1>Søgning efter
#{list W, as: 'wd' }
  #{if wd=="AND" || wd=="OR"}
    ${wd=="AND" ? "og" : "el." }
  #{/if}
  #{else}
    <b>${wd}</b>
  #{/else}
#{/list}
gav i alt ${totalAll} resultat${totalAll == 1 ? "" : "er"}</h1>

#{if cat.contains("grundtvig")}
    #{list chapters, as:'chapter'}
        #{set hash= "#\u007b\"0\":0,\"k\":" + chapter.num + "\u007d" /}  
        <div class="treff">
            <h4><a href="tekstvisning/${chapter.asset.correspondingRootId}/${chapter.num}${hash}">
                ${chapter.asset.name}&nbsp;-&nbsp;${chapter.namePlain}
            </a></h4>
            <p class="treff2">${chapter.getTeaser(lookfor).raw()}</p>
        </div>
    #{/list}
    #{if renderGrundtvigAssets}
        #{list renderGrundtvigAssets, as:'asset'}
            #{set hash= "#\u007b\"0\":1,\"k\":0,\"v0\":" + (asset.fileName.contains("1826_433A_") ? asset.variant+(asset.type==asset.manusType?-1:2) : asset.variant) + "\u007d" /}
            <div class="treff">
            <h4><a href="tekstvisning/${asset.correspondingRootId}/0${hash}">${asset.name}</a></h4>
                <p class="treff2">${asset.getTeaser(lookfor).raw()}</p>
            </div>
        #{/list}
    #{/if}
#{/if}

#{if cat.contains("kommentar") && renderCommentAssets.size() > 0 }

    #{list renderCommentAssets, as:'asset'}
        #{if asset.type==asset.txrType }
            #{set hash= "#\u007b\"0\":3,\"k\":0\u007d" /}
        #{/if}
        #{elseif asset.type==asset.commentType }
            #{set hash= "#\u007b\"0\":4,\"k\":0\u007d" /}
        #{/elseif}
        #{else}
            #{set hash= "" /}
        #{/else}
        <div class="treff">
        <h4><a href="tekstvisning/${asset.correspondingRootId}/0${hash}">${asset.name}</a></h4>
            <p class="treff2"">${asset.getTeaser(lookfor).raw()}</p>
        </div>
    #{/list}
#{/if}
#{/if}

<div id="paginator">
</div>


</div>

        </div>
        </div>

	<div class="kolonne3">
	</div>


	</div>
</div>