#{extends 'main.html' /}
#{ header /}



<div id="main">

	<div class="container" id="underside_innhold">

		<div id="submenu">
		<div id="breadcrumbs"><a href="#">Forside</a> &raquo; Værktøj &raquo; Avanceret søgning</div>

		</div>

	<div class="kolonne1">

		<ul id="kolonne1_meny">
			<li class="header">Værktøj</li>
                        
                        <li><a href="../tidslinje">Tidslinje</a></li>                        
                        <li class="last"><a href="./avanceret">Avanceret søgning</a></li>
		</ul>

	</div>

	<div class="kolonne2" id="intro_tekst">
            <p>Mulighed for avanceret søgning følger med en senere version af udgaven.</p>
            <div>
		<form action="avanceret">
                    <span>
                        <br/>
                    </span>
                    <input name="lookfor" type="text" value="Alm. simpel søgning"/>
                    <input type="submit" value="Søg" />
                </form>
		<form action="avanceret">
                    <span>
                        <br/>
                    </span>
                    <input name="lucene" type="text" value="Lucene QPS"/>
                    <input type="submit" value="Søg" /> <a href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">Læs om QPS her</a>
                </form>
                <br/><br/><br/><br/>
            </div>
            
<div class="container" id="search_results">

<h1>Søgning efter <b>${lookfor}</b> gav i alt ${totalHits} resultat(er)</h1>


<h2><b>Resultater i hele filer:</b></h2>


#{list renderAssets, as:'asset'}
<div class="treff">
<h4><a href="tekstvisning/${asset.correspondingRootId}/0">${asset.name}</a></h4>
    <p class="treff2"">${asset.getTeaser(lookfor).raw()}</p>
</div>
#{/list}


<h2><b>Resultater i kapitler:</b></h2>


#{list chapters, as:'chapter'}
<div class="treff">
    <h4><a href="tekstvisning/${chapter.asset.correspondingRootId}/${chapter.num}">
        ${chapter.asset.name}
    </a></h4>
    <p class="treff2">${chapter.getTeaser(lookfor).raw()}</p>
</div>
#{/list}

</div>

        </div>


	<div class="kolonne3">
	</div>


	</div>
</div>